/* ========================================================================== *
 * 3.4. Archive
 * ========================================================================== */

.search.search-results,
.archive.tax-mpc_portfolio_cat,
.archive.author,
.archive.date,
.archive.tag,
.archive.category {
	#mpcth_archive_header {
		padding-top: 2em;

		#mpcth_archive_title {
			margin-bottom: 0;

			span {
				padding-bottom: .6em;
			}

			em {
				font-style: normal;
			}
		}

		#mpcth_archive_description {
			> * {
				margin-bottom: 0;
			}
		}
	}

	#mpcth_content {
		.mpcth-post {
			padding: 2em 0 0 0;
			margin-bottom: 2em;
			border-bottom: 1px solid #eeeeee;

			.mpcth-post-title {
				border-bottom: 1px solid #eeeeee;
				margin-bottom: 1.5em;
				text-transform: uppercase;

				> a {
					display: inline-block;
					margin-bottom: -1px;
					border-bottom: 1px solid transparent;
					padding-bottom: .801em;
					color: #666666;

					i {
						margin-left: .5em;
						font-size: .875em;
					}
				}
			}

			.mpcth-post-footer {
				.mpcth-post-meta {
					display: inline-block;
					margin-bottom: 1.5em;
					color: #999999;
				}

				.mpcth-read-more {
					float: right;
					background: #f3f3f3;
					border: none;
					border: $hover_border;
					border-radius: 2px;
					display: inline-block;
					padding: .5em 1em;
					text-transform: uppercase;
					line-height: 1em;
					color: #999999;
					margin-bottom: 1em;

					> i {
						margin-left: .5em;
					}

					&:hover {
						color: #ffffff;
					}
				}

				.mpcth-categories {
					margin-left: .25em;
					line-height: 1em;
				}
				.mpcth-comments {
					padding-left: .5em;
					margin-left: .5em;
					border-left: 1px solid #eeeeee;
					line-height: 1em;
					display: inline-block;
				}

				&:after {
					@extend .after-clear;
				}
			}

			.mpcth-post-content {
				margin-top: 1.5em;
				margin-bottom: 1em;

				p {
					font-size: 1.083em;
				}
			}

			.mpcth-post-thumbnail {
				position: relative;

				.mpcth-lightbox {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					text-align: center;
					-webkit-backface-visibility: hidden;

					@include opacity(0);

					i {
						font-size: 3em;
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: -.5em;
						margin-left: -.5em;
						color: #ffffff;
					}
				}

				&:hover {
					.mpcth-lightbox {
						@include opacity(.4);
					}
				}
			}
		}

		&.mpcth-blog-layout-small {
			.mpcth-post {
				.mpcth-post-thumbnail {
					float: left;
					width: 33.33%;
					padding-right: 20px;
					margin-right: 20px;

					@extend .box-sizing;

					> * {
						margin-bottom: 1.5em;
					}
				}

				&.format-chat,
				&.format-status {
					.mpcth-post-thumbnail {
						float: none;
						width: 100%;
						padding-right: 0;
					}
				}
			}
		}
	}
}