/* ========================================================================== *
 * 7. Contact
 * ========================================================================== */

.wpcf7 {
	&:after {
		@extend .after-clear;
	}

	.form-submit {
		position: relative;
		float: right;
		width: 32.5%;
		padding-left: 20px;
		margin-bottom: 2em;

		@extend .box-sizing;

		input {
			width: 100%;

			&:hover {
				color: #ffffff;
			}
		}

		.wpcf7-submit {
			color: #666666;
			background: #f3f3f3;
			padding: .5em 1em;
			text-transform: uppercase;
			border: none;
			border: $hover_border;
			border-radius: 2px;
			outline: none;

			@extend .transition;
		}

		.ajax-loader {
			position: absolute;
			top: .55em;
			right: .5em;
		}

		@media #{$screen-medium} {
			.mpcth-responsive & {
				width: 50%;
			}
		}
		@media #{$screen-small} {
			.mpcth-responsive & {
				width: 100%;
				padding-left: 0;
			}
		}
	}

	.contact-form-input {
		float: left;
		position: relative;
		width: 32.5%;
		margin-bottom: 2em;
		margin-top: 0;

		@extend .box-sizing;

		span {
			display: block;
		}

		label {
			color: #999999;
			text-transform: uppercase;
			position: absolute;
			top: 0;
			left: 1em;
			z-index: 1;
			font-style: italic;

			@extend .transition;
		}

		input {
			width: 100%;
			border: 1px solid #eeeeee;
			border-radius: 2px;
			padding: .75em 1em;
			position: relative;
			z-index: 2;
			outline: none;
			color: #666666;

			@extend .transition;
			@extend .box-sizing;

			&:focus + label {
				top: -1.5em;
			}

			&.wpcf7-not-valid {
				color: #EC0042;
				border-color: #EC0042;
			}

			&:hover,
			&:focus {
				box-shadow: $hover_shadow;
			}
		}

		&.input-name {
			padding-right: 20px;
		}
		&.input-mail {
			width: 35%;
			padding-right: 20px;
			padding-left: 20px;
		}
		&.input-website {
			padding-left: 20px;
		}

		@media #{$screen-medium} {
			.mpcth-responsive & {
				&.input-name,
				&.input-mail,
				&.input-website {
					width: 100%;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}

	.contact-form-message {
		clear: both;
		position: relative;

		span {
			display: block;
		}

		label {
			color: #999999;
			text-transform: uppercase;
			position: absolute;
			top: 0;
			left: 1em;
			z-index: 1;
			font-style: italic;

			@extend .transition;
		}

		textarea {
			position: relative;
			width: 100%;
			max-width: 100%;
			border: 1px solid #eeeeee;
			border-radius: 2px;
			padding: .75em 1em;
			z-index: 2;
			outline: none;
			color: #666666;

			@extend .transition;
			@extend .box-sizing;

			&:focus + label {
				top: -1.5em;
			}

			&.wpcf7-not-valid {
				color: #EC0042;
				border-color: #EC0042;
			}

			&:hover,
			&:focus {
				box-shadow: $hover_shadow;
			}
		}
	}

	.wpcf7-not-valid-tip {
		margin-top: .25em;
		text-transform: uppercase;
		color: #EC0042;
	}

	.wpcf7-mail-sent-ok,
	.wpcf7-validation-errors {
		float: left;
		display: block;
		margin: 1em 0 0 0;
		padding: .5em 1em;
		width: 67.5%;
		border: 1px solid #EC0042;
		color: #EC0042;
		border-radius: 2px;
		line-height: 1.25em;
		text-transform: uppercase;

		@extend .box-sizing;
	}
	.wpcf7-mail-sent-ok {
		 color: #27C200;
		border: 1px solid #27C200;
	}
}

.vc_span2, .vc_span3, .vc_span4, .vc_span6 {
	.wpcf7 {
		.form-submit,
		.contact-form-input {
			float: none;
			width: 100%;
			padding: 0;
		}
		.wpcf7-mail-sent-ok,
		.wpcf7-validation-errors {
			float: none;
			width: 100%;
		}
	}
}

.mpcth-sidebar-right {
	.wpcf7 {
		.contact-form-input {
			@media #{$screen-normal} {
				.mpcth-responsive & {
					float: none;
					width: 100%;
				}
			}
		}
	}
}