/* ========================================================================== *
 * 1.1. Defaults
 * ========================================================================== */

html.mpcth-responsive {
	overflow-x: hidden;
	overflow-y: auto;
}
html, body {
	font-size: 12px;
	font-family: $content_font_family;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	line-height: 1.5em;
	color: #666666;
	word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	line-height: 1.5em;
	font-family: $header_font_family;
	font-weight: 700;
}

h6 {
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}
h5 {
	font-size: 1.167em;
	-webkit-font-smoothing: antialiased;
}
h4 {
	font-size: 1.333em;
	-webkit-font-smoothing: antialiased;
}
h3 {
	font-size: 1.667em;
	-webkit-font-smoothing: antialiased;
}
h2 {
	font-size: 2.000em;
	-webkit-font-smoothing: antialiased;
}
h1 {
	font-size: 2.667em;
	-webkit-font-smoothing: antialiased;
}

html {
	position: relative;
}

pre {
	margin: 0;
	background: #f7f7f7;
	border: 1px dashed #e0e0e0;
	padding: 1em;
	color: #999;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;

	white-space: pre-wrap;
	background-image: linear-gradient(bottom, #f9f9f9 50%, #f5f5f5 50%);
	background-image: -o-linear-gradient(bottom, #f9f9f9 50%, #f5f5f5 50%);
	background-image: -moz-linear-gradient(bottom, #f9f9f9 50%, #f5f5f5 50%);
	background-image: -webkit-linear-gradient(bottom, #f9f9f9 50%, #f5f5f5 50%);
	background-image: -ms-linear-gradient(bottom, #f9f9f9 50%, #f5f5f5 50%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #f9f9f9), color-stop(0.5, #f5f5f5));
	background-size: 3em 3em;
	background-position: 0 1em;
}

code {
	background: #f7f7f7;
	border: 1px dashed #e0e0e0;
	font-size: 1em;
	padding: .1em .4em;
}

blockquote {
	font-style: italic;
	line-height: 1.35em;
	margin: 0;
	margin-bottom: 1em;
}

.wp-caption.alignleft,
img.alignleft {
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}
.wp-caption.alignright,
img.alignright {
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}
.wp-caption.aligncenter,
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

.wp-caption {
	max-width: 100%;
	height: auto;
}

object,
iframe,
embed {
	max-width: 100%;
}

.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {
	zoom: 1;
}

.mpcth-post-content,
.mpcth-page-content,
.mpcth-product-content {
	table {
		margin-bottom: 1.5em;
	}
	td {
		padding: .5em;
	}

	dt {
		font-weight: bold;
		-webkit-font-smoothing: antialiased;
	}
	dd {
		font-style: italic;
		margin-bottom: 1.5em;
	}

	ol {
		padding-left: 1.5em;
	}
}

#mpcth_main img {
	max-width: 100%;
	height: auto;
}

#mpcth_main .mpcth-post-content,
#mpcth_main .mpcth-page-content,
#mpcth_main .mpcth-product-content,
#mpcth_sidebar,
#mpcth_footer {
	ul {
		margin-top: 0;
		padding-left: 0;

		ul {
			padding-left: .5em;
		}

		li {
			position: relative;
			padding: 0 0 .25em 1em;
			list-style: none;
		}

		li:before {
			content: '';
			position: absolute;
			top: .6em;
			left: .3em;
			border: 2px solid transparent;
		}
	}
}

.mpcth-transparent-0 {
	@include opacity(0);
}
.mpcth-transparent-10 {
	@include opacity(.1);
}
.mpcth-transparent-20 {
	@include opacity(.2);
}
.mpcth-transparent-30 {
	@include opacity(.3);
}
.mpcth-transparent-40 {
	@include opacity(.4);
}
.mpcth-transparent-50 {
	@include opacity(.5);
}
.mpcth-transparent-60 {
	@include opacity(.6);
}
.mpcth-transparent-70 {
	@include opacity(.7);
}
.mpcth-transparent-80 {
	@include opacity(.8);
}
.mpcth-transparent-90 {
	@include opacity(.9);
}
.mpcth-transparent-100 {
	@include opacity(1);
}

.mpcth-list-item {
	position: relative;
	padding-left: 1em;

	&:before {
		content: '';
		position: absolute;
		top: .4em;
		left: .3em;
		border: 2px solid transparent;
	}
}

.mpcth-menu-label-hot {
	font-size: .833em;
	font-weight: 500;
	color: #ffffff;
	padding: 0.1em 0.4em;
	border-radius: 2px;
	margin-left: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #999999;
}
textarea:-moz-placeholder,
input:-moz-placeholder {
	color: #999999;
}
textarea::-moz-placeholder,
input::-moz-placeholder {
	color: #999999;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
	color: #999999;
}

.mpcth-page-background {
	display: none;
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.ie .mpcth-page-background {
	display: block;
}

.mpcth-background-cover {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
@media only screen and (max-width: 1024px) {
	.mpcth-responsive body .mpcth-background-cover.mpcth-image {
		background-size: auto 100%;
		background-attachment: initial;
	}
}
.ie .mpcth-background-cover {
	display: none;
}

.mpcth-deco-header {
	text-transform: uppercase;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 1.5em;

	span {
		display: inline-block;
		border-bottom: 1px solid transparent;
		padding-bottom: .813em;
		margin-bottom: -1px;
	}
}

#mpcth_page_wrap select.hasCustomSelect {
	cursor: pointer;
}
#mpcth_page_wrap .mpcthSelect {
	background: #ffffff;
	border: none;
	border: $hover_border;
	border-radius: 2px;
	display: inline-block;
	padding: .5em 1.538em .5em .75em;
	color: #666666;
	-webkit-font-smoothing: auto;

	@extend .transition;

	&:before {
		float: right;
		display: inline-block;
		width: 0;
	}

	&.mpcthSelectHover {
		box-shadow: $hover_shadow;
	}

	.mpcthSelectInner {
		font-family: $content_font_family;
	}
}

#mpcth_page_wrap .widget .mpcthSelect {
	width: 100%;

	@extend .box-sizing;
}

#mpcth_page_wrap .chosen-container {
	width: 100% !important;
}

/* Visual Composer animations overwrite */
$time: 1s;
#mpcth_page_wrap {
	.wpb_animate_when_almost_visible{opacity:0}
	.wpb_start_animation.wpb_top-to-bottom{-webkit-animation:wpb_ttb $time 1 cubic-bezier(.175, .885, .32, 1.275);-moz-animation:wpb_ttb $time 1 cubic-bezier(.175, .885, .32, 1.275);-o-animation:wpb_ttb $time 1 cubic-bezier(.175, .885, .32, 1.275);animation:wpb_ttb $time 1 cubic-bezier(.175, .885, .32, 1.275);opacity:1}
	.wpb_start_animation.wpb_bottom-to-top{-webkit-animation:wpb_btt $time 1 cubic-bezier(.175, .885, .32, 1.275);-moz-animation:wpb_btt $time 1 cubic-bezier(.175, .885, .32, 1.275);-o-animation:wpb_btt $time 1 cubic-bezier(.175, .885, .32, 1.275);animation:wpb_btt $time 1 cubic-bezier(.175, .885, .32, 1.275);opacity:1}
	.wpb_start_animation.wpb_left-to-right{-webkit-animation:wpb_ltr $time 1 cubic-bezier(.175, .885, .32, 1.275);-moz-animation:wpb_ltr $time 1 cubic-bezier(.175, .885, .32, 1.275);-o-animation:wpb_ltr $time 1 cubic-bezier(.175, .885, .32, 1.275);animation:wpb_ltr $time 1 cubic-bezier(.175, .885, .32, 1.275);opacity:1}
	.wpb_start_animation.wpb_right-to-left{-webkit-animation:wpb_rtl $time 1 cubic-bezier(.175, .885, .32, 1.275);-moz-animation:wpb_rtl $time 1 cubic-bezier(.175, .885, .32, 1.275);-o-animation:wpb_rtl $time 1 cubic-bezier(.175, .885, .32, 1.275);animation:wpb_rtl $time 1 cubic-bezier(.175, .885, .32, 1.275);opacity:1}
	.wpb_start_animation.wpb_appear{-webkit-animation:wpb_appear $time 1 cubic-bezier(.175, .885, .32, 1.275);-moz-animation:wpb_appear $time 1 cubic-bezier(.175, .885, .32, 1.275);-o-animation:wpb_appear $time 1 cubic-bezier(.175, .885, .32, 1.275);animation:wpb_appear $time 1 cubic-bezier(.175, .885, .32, 1.275);-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity:1}
	@-webkit-keyframes wpb_ttb{0%{-webkit-transform:translate(0, -10%);opacity:0} 100%{-webkit-transform:translate(0, 0);opacity:1}}@-moz-keyframes wpb_ttb{0%{-moz-transform:translate(0, -10%);opacity:0} 100%{-moz-transform:translate(0, 0);opacity:1}}@-o-keyframes wpb_ttb{0%{-o-transform:translate(0, -10%);opacity:0} 100%{-o-transform:translate(0, 0);opacity:1}}@keyframes wpb_ttb{0%{transform:translate(0, -10%);opacity:0} 100%{transform:translate(0, 0);opacity:1}}@-webkit-keyframes wpb_btt{0%{-webkit-transform:translate(0, 10%);opacity:0} 100%{-webkit-transform:translate(0, 0);opacity:1}}@-moz-keyframes wpb_btt{0%{-moz-transform:translate(0, 10%);opacity:0} 100%{-moz-transform:translate(0, 0);opacity:1}}@-o-keyframes wpb_btt{0%{-o-transform:translate(0, 10%);opacity:0} 100%{-o-transform:translate(0, 0);opacity:1}}@keyframes wpb_btt{0%{transform:translate(0, 10%);opacity:0} 100%{transform:translate(0, 0);opacity:1}}@-webkit-keyframes wpb_ltr{0%{-webkit-transform:translate(-10%, 0);opacity:0} 100%{-webkit-transform:translate(0, 0);opacity:1}}@-moz-keyframes wpb_ltr{0%{-moz-transform:translate(-10%, 0);opacity:0} 100%{-moz-transform:translate(0, 0);opacity:1}}@-o-keyframes wpb_ltr{0%{-o-transform:translate(-10%, 0);opacity:0} 100%{-o-transform:translate(0, 0);opacity:1}}@keyframes wpb_ltr{0%{transform:translate(-10%, 0);opacity:0} 100%{transform:translate(0, 0);opacity:1}}@-webkit-keyframes wpb_rtl{0%{-webkit-transform:translate(10%, 0);opacity:0} 100%{-webkit-transform:translate(0, 0);opacity:1}}@-moz-keyframes wpb_rtl{0%{-moz-transform:translate(10%, 0);opacity:0} 100%{-moz-transform:translate(0, 0);opacity:1}}@-o-keyframes wpb_rtl{0%{-o-transform:translate(10%, 0);opacity:0} 100%{-o-transform:translate(0, 0);opacity:1}}@keyframes wpb_rtl{0%{transform:translate(10%, 0);opacity:0} 100%{transform:translate(0, 0);opacity:1}}@-webkit-keyframes wpb_appear{0%{-webkit-transform:scale(.5);opacity:.1} 100%{-webkit-transform:scale(1);opacity:1}}@-moz-keyframes wpb_appear{0%{-moz-transform:scale(.5);opacity:.1} 100%{-moz-transform:scale(1);opacity:1}}@-o-keyframes wpb_appear{0%{-o-transform:scale(.5);opacity:.1} 100%{-o-transform:scale(1);opacity:1}}@keyframes wpb_appear{0%{transform:scale(.5);opacity:.1} 100%{transform:scale(1);opacity:1}}
}

#mpcth_page_wrap #mpcth_main_container .mpcth-vc-row-wrap.mpcth-vc-row-wrap-full-width {
	padding-left: 0;
	padding-right: 0;
}