/* ========================================================================== *
 * 2.3. Footer
 * ========================================================================== */

#mpcth_footer_extended_content,
#mpcth_footer_content {
	&:after {
		@extend .after-clear;
	}

	> ul {
		list-style: none;

		&:after {
			@extend .after-clear;
		}

		.widget {
			float: left;
			width: 100%;

			@extend .box-sizing;
		}

		&.mpcth-widget-columns-4 {
			.widget {
				width: 25%;
			}

			@media #{$screen-normal} {
				.mpcth-responsive & {
					.widget {
						width: 50%;
					}
				}
			}
		}
		&.mpcth-widget-columns-3 {
			.widget {
				width: 33.33%;
			}

			@media #{$screen-normal} {
				.mpcth-responsive & {
					.widget {
						width: 50%;
					}
				}
			}
		}
		&.mpcth-widget-columns-2 {
			.widget {
				width: 50%;
			}
		}

		@media #{$screen-normal} {
			.mpcth-responsive & {
				.widget {
					margin-left: -1px;
					margin-right: -1px;
					float: none;
					display: inline-block;
					vertical-align: top;
				}
			}
		}
		@media #{$screen-small} {
			.mpcth-responsive & {
				&.mpcth-widget-columns-4,
				&.mpcth-widget-columns-3,
				&.mpcth-widget-columns-2 {
					.widget {
						width: 100%;
					}
				}
			}
		}
	}
}

#mpcth_footer_extended_content {
	&:after {
		content: '';
		display: block;
		height: 1px;
		background: #eeeeee;
		margin: 0 20px;
	}
}

#mpcth_footer {
	clear: both;
	border-top: 1px solid #EEEEEE;

	a {
		color: inherit;
	}
}

#mpcth_footer_copyrights_wrap {
	border-top: 1px solid #EEEEEE;
	padding: .5em 0;
	margin: 0 20px;
	color: #999999;

	&:after {
		@extend .after-clear;
	}

	#mpcth_footer_copyrights {
		display: inline-block;
		text-transform: uppercase;
	}

	#mpcth_footer_socials {
		float: right;
		display: inline-block;
	}

	@media #{$screen-small} {
		.mpcth-responsive & {
			#mpcth_footer_copyrights,
			#mpcth_footer_socials {
				float: none;
				display: block;
				text-align: center;
			}
			#mpcth_footer_socials {
				padding-top: .5em;
			}
		}
	}
}

#mpcth_footer_extended_content,
#mpcth_footer_content {
	@media #{$screen-small} {
		.mpcth-responsive & {
			display: none;

			&.mpcth-active {
				display: block;
			}
		}
	}
}

#mpcth_toggle_mobile_extended_footer,
#mpcth_toggle_mobile_footer {
	text-transform: uppercase;
	text-align: center;
	padding: 1em;
	border-bottom: 1px solid #eeeeee;
	display: none;

	&.active {
		i {
			&.fa-angle-down {
				display: none;
			}
			&.fa-angle-up {
				display: inline-block;
			}
		}
	}

	.mpcth-toggle-text {
		line-height: 1.5em;
		display: inline-block;
		vertical-align: top;
	}

	i {
		font-size: 1.25em;
		line-height: 1.15em;
		display: inline-block;
		vertical-align: top;
		margin-left: .5em;

		&.fa-angle-up {
			display: none;
		}
	}

	@media #{$screen-small} {
		.mpcth-responsive & {
			display: block;
		}
	}
}
#mpcth_toggle_mobile_footer {
	margin-bottom: -1px;
}

#mpcth_back_to_top {
	position: fixed;
	bottom: 15px;
	width: 50px;
	height: 50px;
	z-index: 100;
	color: #aaaaaa;
	background: #aaaaaa;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 3px;
	border: 2px solid #cccccc;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	visibility: hidden;

	@extend .transition;
	@include opacity(0);

	&.active {
		visibility: visible;

		@include opacity(1);
	}

	&.mpcth-back-to-top-position-left {
		left: 15px;
	}
	&.mpcth-back-to-top-position-center {
		left: 50%;
		margin-left: -25px;
	}
	&.mpcth-back-to-top-position-right {
		right: 15px;
	}
}