/* ========================================================================== *
 * 3.5. Formats
 * ========================================================================== */

.format-image,
.format-standard {
	.mpcth-post-thumbnail {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}

.format-gallery {
	.mpcth-post-thumbnail {
		img {
			display: block;
			width: 100%;
			height: auto;
		}

		#main_thumbs {
			.flex-viewport {
				li {
					border: 1px solid #eeeeee;
					margin-right: 20px;
					cursor: pointer;

					@include opacity(0.5);
					@extend .transition;

					&:hover,
					&.flex-active-slide {
						@include opacity(1);
					}
				}
			}
		}
	}
}

.format-video {
	.mpcth-post-thumbnail {
		.mpcth-video-wrap {
			position: relative;
			height: 0;
			padding-bottom: 56.25%;

			&.mpcth-video-embed {
				> iframe {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}
			}
			&.mpcth-video-shortcode {
				> div {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}
				.mejs-layer,
				.wp-video-shortcode {
					width: 100% !important;
					height: 100% !important;
				}
				.mejs-overlay-button {
					margin-top: -50px !important;
				}
			}
		}
	}
}

.format-aside {
	.mpcth-post-header .mpcth-post-title {
		display: none;
	}
	.mpcth-post-content {
		margin-top: 0;
	}
}

.format-quote {
	.mpcth-post-thumbnail {
		font-style: italic;
		font-size: 1.083em;
	}
}

.format-status {
	.mpcth-post-thumbnail {
		.twitter-tweet {
			width: 100%;
			max-width: 100% !important;
			border: 1px solid #eeeeee !important;
			box-shadow: none !important;
			margin: 0 !important;
			border-radius: 2px !important;

			@extend .box-sizing;
		}
	}
}

.format-chat {
	.mpcth-post-thumbnail {
		&:after {
			@extend .after-clear;
		}

		.mpcth-chat-message {
			max-width: 66.66%;
			float: left;
			margin-bottom: 1em;
			display: inline-block;
			clear: both;

			.mpcth-chat-message-text {
				background: #f3f3f3;
				padding: .75em 1em;
				margin: 0 0 .25em 0;
				border-radius: 2px;
				border: none;
				border: $hover_border;

				@extend .box-sizing;
			}
		}
		.mpcth-chat-message-odd {
			float: right;

			.mpcth-chat-message-text {
				color: #ffffff;
			}
		}
		.mpcth-chat-name {
			text-align: right;
			margin: 0;
		}
	}
}