/* ========================================================================== *
 * 2.1. Header
 * ========================================================================== */

#mpcth_page_header_wrap {
	position: relative;
	border-bottom: 1px solid #EEEEEE;
	background: #ffffff;
	background: rgba(255, 255, 255, 0.95);
	z-index: 1020;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);

	@include transition(background);

	#mpcth_page_header_container {
		z-index: 2;

		@include transition(opacity, .5s);
		@include opacity(0);

		&.mpcth-header-ready {
			@include opacity(1);
		}
	}

	&.mpcth-sticky-header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;

		#mpcth_page_header_secondary_content {
			display: none;
		}

		#mpcth_logo_wrap {
			padding: .2em 1em .2em 0;
			display: none;
		}
		#mpcth_nav {
			> * {
				margin-left: -.75em;
			}

			#mpcth_mega_menu .widget ul.menu > li > a {
				padding: 1em .3em;
			}
			#mpcth_mega_menu .widget ul.menu > li.menu-item-has-children > a:after {
				bottom: 1.15em;
			}

			.mpcth-menu .page_item > a, .mpcth-menu .menu-item > a,
			#mpcth_menu .page_item > a, #mpcth_menu .menu-item > a {
				padding: 1em .3em;
			}
			.mpcth-menu .page_item.menu-item-has-children > a:after,
			.mpcth-menu .menu-item.menu-item-has-children > a:after,
			#mpcth_menu .page_item.menu-item-has-children > a:after,
			#mpcth_menu .menu-item.menu-item-has-children > a:after {
				bottom: 1.15em;
			}
			.mpcth-menu .sub-menu .page_item.menu-item-has-children > a:after,
			.mpcth-menu .sub-menu .menu-item.menu-item-has-children > a:after,
			#mpcth_menu .sub-menu .page_item.menu-item-has-children > a:after,
			#mpcth_menu .sub-menu .menu-item.menu-item-has-children > a:after {
				bottom: .75em;
			}
		}
		#mpcth_controls_wrap #mpcth_controls_container {
			padding: .7em 0;
		}

		&:hover {
			background: #ffffff;
		}
	}
}

.mpcth-boxed #mpcth_page_header_wrap {
	&.mpcth-sticky-header {
		left: auto;
		margin-left: auto;
		margin-right: auto;
		width: 960px;

		@media #{$screen-large} {
			.mpcth-responsive & {
				width: 1200px;
			}
		}
		@media #{$screen-normal} {
			.mpcth-responsive & {
				width: 768px;
			}
		}
		@media #{$screen-medium} {
			.mpcth-responsive & {
				width: 100%;
			}
		}
	}
}

#mpcth_page_header_content {
	padding: 0 20px;
	display: table;
	width: 100%;

	@extend .box-sizing;

	&:after {
		@extend .after-clear;
	}

	#mpcth_logo_wrap {
		display: table-cell;
		vertical-align: middle;
		padding: 1.2em 0;
		padding-right: 1em;
		width: 1em;

		#mpcth_logo {
			display: inline-block;
			margin-bottom: -.5em;
			position: relative;
			line-height: 1em;
		}

		h1 {
			margin: 0;
			display: inline-block;
			white-space: nowrap;
		}
		img {
			display: block;
			max-width: none;
			height: auto;

			&.mpcth-retina-logo {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: auto;

				visibility: hidden;
			}

			@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
				.mpcth-responsive & {
					&.mpcth-retina-logo {
						visibility: visible;
					}
					&.mpcth-standard-logo {
						visibility: hidden;
					}
				}
			}
		}
	}
	#mpcth_nav {
		display: table-cell;
		vertical-align: bottom;
	}
	#mpcth_controls_wrap {
		display: table-cell;
		vertical-align: bottom;
		text-align: right;
		width: 1em;
		white-space: nowrap;

		#mpcth_controls_container {
			position: relative;
			padding: 1.7em 0;

			> a {
				color: #999999;
				background: #f3f3f3;
				border: none;
				border: $hover_border;
				padding: .5em .667em;
				border-radius: 2px;
				line-height: 1em;
				display: inline-block;

				&:hover,
				&.active {
					color: #ffffff;
				}

				.mpcth-mini-cart-icon-info {
					text-transform: uppercase;
				}
			}
		}
	}

	#mpcth_center_header_wrap {
		display: table;
		width: 100%;
	}
}
#mpcth_page_wrap #mpcth_page_header_content {
	&.mpcth-header-order-l_m_s {
		#mpcth_nav {
			width: 100%;
		}
	}
	&.mpcth-header-order-l_s_m {
		#mpcth_controls_wrap {
			text-align: left;
			padding-left: 1em;

			#mpcth_mini_cart {
				right: auto;
				left: 0;
			}
		}
		#mpcth_nav {
			text-align: right;

			> ul {
				margin-right: -.8em;
			}
		}
	}
	&.mpcth-header-order-m_l_s {
		#mpcth_controls_wrap {
			width: 43%;
		}
		#mpcth_nav {
			width: 43%;

			> ul {
				margin-left: -.8em;;
			}
		}
		#mpcth_logo_wrap {
			width: 14%;
			padding-right: 0;
			text-align: center;

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
	&.mpcth-header-order-l_rm_s {
		#mpcth_nav {
			text-align: right;
			width: 100%;

			> ul {
				padding-right: 1em;
			}
		}
	}
	&.mpcth-header-order-tl_m_s {
		display: block;

		#mpcth_controls_wrap {
			padding-top: .7em;
		}
		#mpcth_nav {
			> ul {
				margin-left: -.8em;

				> li > a {
					padding-top: 1em;
				}
			}
		}
		#mpcth_logo_wrap {
			display: block;
			padding: 1.5em 0 .25em;
			width: 100%;
			padding-right: 0;
			text-align: center;
		}
	}
	&.mpcth-header-order-tl_cm_cs {
		display: block;
		text-align: center;

		#mpcth_controls_wrap {
			display: inline-block;
			margin-left: 1em;
			width: auto;

			#mpcth_mini_cart {
				right: auto;
				left: -5.5em;
			}

			@media #{$screen-normal} {
				.mpcth-responsive & {
					margin-left: 0;
				}
			}
		}
		#mpcth_nav {
			display: inline-block;
		}
		#mpcth_logo_wrap {
			display: block;
			padding: 1.5em 0 .25em;
			width: 100%;
			padding-right: 0;
			text-align: center;
		}
	}
	&.mpcth-header-order-m_s_l {
		#mpcth_nav {
			> ul {
				margin-left: -.8em;
			}

			@media #{$screen-normal} {
				.mpcth-responsive & {
					width: 0 !important;
				}
			}
		}
		#mpcth_logo_wrap {
			padding-right: 0;
			padding-left: 1em;
		}
		#mpcth_controls_wrap {
			width: auto;
			text-align: left;

			#mpcth_mini_cart {
				right: auto;
				left: -5.5em;
			}
		}
	}
}
#mpcth_page_wrap #mpcth_page_header_container #mpcth_page_header_content {
	@media only screen and (max-width : 320px) {
		.mpcth-responsive & {
			#mpcth_logo_wrap {
				display: block;
				text-align: center;
				width: 100%;
				padding: 1.2em 0 0 0;

				small {
					display: block;
				}
			}
			#mpcth_nav {
				display: none;
			}
			#mpcth_controls_wrap {
				display: block;
				width: 100%;
				text-align: center;
			}

			&.mpcth-header-order-m_s_l {
				#mpcth_logo_wrap {
					padding: 0 0 1.2em 0;
				}
			}
		}
	}
}
#mpcth_page_wrap .mpcth-sticky-header #mpcth_page_header_content {
	&.mpcth-header-order-l_s_m {
		#mpcth_controls_wrap {
			padding-left: 0;
		}
	}
	&.mpcth-header-order-m_l_s {
		#mpcth_controls_wrap {
			width: auto;
		}
		#mpcth_nav {
			width: auto;

			> ul {
				margin-left: -.8em;;
			}
		}
		#mpcth_logo_wrap {
			width: auto;
		}
	}
	&.mpcth-header-order-l_rm_s {
		#mpcth_nav {
			// text-align: left;
		}
	}
	&.mpcth-header-order-tl_m_s {
		#mpcth_logo_wrap {
			padding: .7em 1em .2em 0;
			display: none;
		}
		#mpcth_controls_wrap {
			padding-top: 0;
		}
	}
	&.mpcth-header-order-tl_cm_cs {
		#mpcth_logo_wrap {
			display: none;
		}
	}
}

#mpcth_page_header_secondary_content {
	line-height: 1em;
	margin: 0 20px;
	border-bottom: 1px solid #EEEEEE;
	text-transform: uppercase;
	font-size: 0.917em;
	color: #999999;

	@media #{$screen-normal} {
		.mpcth-responsive & {
			visibility: hidden;
		}
	}

	&:after {
		@extend .after-clear;
	}
	&.mpcth-header-position-bottom {
		border-bottom: none;
		border-top: 1px solid #EEEEEE;
	}

	a {
		color: #999999;
		padding-top: .5em;
		padding-bottom: .5em;
		display: inline-block;
	}

	#mpcth_secondary_menu,
	#mpcth_newsletter {
		// margin-top: 1px;
	}

	#mpcth_secondary_menu,
	#mpcth_header_socials,
	#mpcth_newsletter {
		display: inline-block;
	}

	#lang_sel {
		height: auto;
		vertical-align: top;

		> ul > li {
			width: auto;
		}
		> ul > li > ul {
			width: auto !important;
		}
		> ul > li > ul > li {
			width: auto !important;
		}

		.lang_sel_sel {
			color: #999999;
			border: none;
			line-height: 1.6em;
			padding: .5em 1.538em .6em 0;
			background: none;

			&:after {
				position: relative;
				right: -.75em;
				line-height: 1.6em;
				vertical-align: top;
			}
		}

		ul ul {
			z-index: 100;
			top: 100%;
			left: -1.05em;
			border: 1px solid #eeeeee;
			overflow: hidden;
			height: auto;
			padding: .5em !important;
			background: #ffffff;

			@extend .transition;
			@include opacity(0);

			a {
				display: block;
				white-space: nowrap;
				padding: .5em;
				border: none;
				background: none;
			}
		}

		img.iclflag {
			margin-top: -1px;
		}

		&:hover {
			ul ul {
				@include opacity(1);
			}
		}
	}

	.mpcth-currency {
		select {
			padding-right: .5em;
		}
		.wcml_currency_switcher {
			margin-right: .75em;
			text-transform: uppercase;
			line-height: 1.6em;
			background: none;
			border: none;
			color: inherit;
			box-shadow: none;

			.mpcthSelectInner {
				width: auto !important;
				padding-right: .5em;
			}
		}
	}

	#mpcth_secondary_menu {
		padding-left: 1em;
		margin-left: 1em;

		a {
			// line-height: 1.273em;
			line-height: 1.6em;
		}

		.mpcth-wc-wishlist {
			vertical-align: top;
		}
		.mpcth-wp-login {
			vertical-align: top;
			margin-left: 1.5em;
		}
	}

	#mpcth_secondary_menu,
	#mpcth_secondary_mini_menu {
		&:before {
			content: '';
			width: 1px;
			border-left: 1px solid #eeeeee;
			height: 1.2em;
			display: inline-block;
			vertical-align: top;
			position: relative;
			top: .75em;
			right: 1em;
		}
	}
	#mpcth_secondary_mini_menu {
		&:before {
			right: 0;
		}
	}

	#mpcth_secondary_mini_menu {
		display: inline-block;
		padding: 0;
		margin: 0;
		margin-left: 1em;

		a {
			position: relative;
		}

		li {
			display: inline-block;
			margin-left: 1em;
			position: relative;
			white-space: nowrap;

			li {
				padding: 1em 1.25em 0;
				display: block;
				margin-left: 0;

				a {
					padding: 0;
					line-height: 1.5em;
				}
			}

			&:hover {
				> ul {
					visibility: visible;
					top: 100%;
					@include opacity(1);
				}
			}

			ul li {
				&:hover {
					> ul {
						top: 0%;
					}
				}
			}
		}

		ul {
			visibility: hidden;
			position: absolute;
			background: #ffffff;
			padding: 0 0 1em 0;
			z-index: 3;
			border: 1px solid #eeeeee;
			top: 125%;
			left: -1.25em;

			@extend .box-sizing;
			@extend .transition;
			@include opacity(0);

			ul {
				margin-top: -1px;
				top: 25%;
				left: 100%;
			}
		}
	}

	#mpcth_newsletter {
		text-transform: uppercase;
		line-height: 1.6em;

		&.mpcth-toggled {
			.mpcth-newsletter-toggle-close,
			.s2_message,
			form {
				display: inline-block;
			}

			.s2_error,
			.mpcth-newsletter-toggle {
				display: none;
			}
		}

		.mpcth-newsletter-toggle {
			position: relative;
			padding-left: .75em;

			&:before {
				content: '';
				position: absolute;
				top: 1em;
				left: 0;
				border: 2px solid transparent;
			}
		}

		.mpcth-newsletter-toggle-close,
		.s2_message,
		form {
			vertical-align: top;
			display: none;
		}
		.mpcth-newsletter-subscribe,
		form {
			position: relative;
			padding-left: .75em;

			&:before {
				content: '';
				position: absolute;
				top: 1em;
				left: 0;
				border: 2px solid transparent;
			}
		}
		form p {
			position: relative;
		}
		.mpcth-newsletter-subscribe {
			position: static;
			margin-left: 1em;
			padding-left: .25em;

			&:before {
				left: 1em;
			}
		}
		label {
			display: none;
			padding: .5em 0;
		}
		p {
			vertical-align: top;
			display: inline-block;
			margin: 0;
		}
		input {
			text-transform: uppercase;
			background: none;
			color: #999999;
		}
		input[name=unsubscribe] {
			display: none;
		}
		input[type=submit] {
			padding: .25em .5em;
			margin: .25em 0;
			border: none;
			outline: none;

			@extend .box-sizing;
			@extend .transition;
		}
		.mpcth-newsletter-toggle-close {
			font-size: 2em;
			padding: .25em;
		}
		.s2_error {
			padding: .5em 0 .5em 1em;
			line-height: 1.6em;
			display: inline-block;
			color: #EC0042;
		}
		.s2_message {
			margin: 0;
			padding: .5em 0;
			line-height: 1.6em;

			a {
				padding: 0;
			}
		}
		#s2email {
			vertical-align: top;
			padding: .5em 0;
			border: none;
			width: 12em;
			line-height: 1.6em;
			outline: none;
			text-transform: uppercase;

			@extend .box-sizing;
		}

		.mpcth-newsletter-message {
			display: inline-block;
			line-height: 1.6em;
			padding: .5em 0;

			a {
				padding: 0;
			}
		}
	}

	&.mpcth-header-order-n_s_m {
		#mpcth_secondary_menu,
		#mpcth_header_socials {
			float: right;
		}
		#mpcth_newsletter {
			float: left;
		}
	}
	&.mpcth-header-order-s_m_n {
		#mpcth_header_socials {
			float: left;
		}
		#mpcth_secondary_menu,
		#mpcth_newsletter {
			float: right;
		}
	}
	&.mpcth-header-order-m_n_s {
		#mpcth_secondary_menu,
		#mpcth_newsletter {
			float: left;
		}
		#mpcth_header_socials {
			float: right;
		}
	}
}
.logged-in #mpcth_page_header_secondary_content {
	#mpcth_newsletter {
		.mpcth-newsletter-toggle,
		.mpcth-newsletter-toggle-close {
			display: none;
		}
		.s2_message {
			display: inline-block;
		}
	}
}

#mpcth_page_wrap #mpcth_mini_cart {
	position: absolute;
	top: 100%;
	right: 0;
	left: auto;
	width: 240px;
	background: #ffffff;
	border: 1px solid #eeeeee;
	border-radius: 2px;
	padding: 20px;
	text-align: left;
	display: none;
	box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
	z-index: 2;
	white-space: normal;

	@extend .box-sizing;

	&:after,
	&:before {
		content: '';
		position: absolute;
		top: 0px;
		left: 50%;
		margin-left: -16px;
		border-top: 10px solid #eeeeee;
		border-right: 16px solid transparent;
		border-bottom: 0 solid transparent;
		border-left: 16px solid transparent;
	}
	&:after {
		top: -1px;
		border-top: 10px solid #ffffff;
	}

	.mpcth-mini-cart-products {
		margin: 0;
		padding: 0;
		list-style: none;
		border-bottom: 1px solid #eeeeee;

		.mpcth-mini-cart-product {
			margin-bottom: 1.5em;

			&:after {
				@extend .after-clear;
			}
		}

		.mpcth-mini-cart-thumbnail {
			position: relative;
			float: left;
			display: inline-block;
			margin-right: 1em;

			img {
				width: 52px;
				height: 52px;
				border: 1px solid #eeeeee;
				border-radius: 2px;
				display: block;
				max-width: none;

				@extend .box-sizing;
			}

			.mpcth-mini-cart-remove {
				position: absolute;
				top: 1px;
				left: 1px;
				width: 50px;
				height: 50px;
				text-align: center;
				line-height: 50px;
				font-size: 2em;
				background: #ffffff;
				background: rgba(255, 255, 255, 0.9);
				font-family: Arial;

				@include opacity(0);
			}

			&:hover {
				.mpcth-mini-cart-remove {
					@include opacity(1);
				}
			}
		}

		.mpcth-mini-cart-title,
		.mpcth-mini-cart-price,
		.mpcth-mini-cart-quantity {
			display: block;
			margin-left: 64px;
		}

		.mpcth-mini-cart-title {
			font-family: $header_font_family;
			font-size: 1.083em;
			font-weight: bold;
			text-transform: uppercase;
		}

		.mpcth-mini-cart-price,
		.mpcth-mini-cart-quantity {
			font-size: 1em;
		}
	}

	.mpcth-mini-cart-product-empty {
		margin: 0;
	}

	.mpcth-mini-cart-subtotal {
		font-size: 1.083em;
		font-family: $header_font_family;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		margin: 1.25em 0;
	}

	.button {
		box-shadow: none;
		border-radius: 2px;
		border: none;
		border: $hover_border;
		background: #f3f3f3;
		font-weight: normal;
		text-transform: uppercase;
		color: #999999;
		text-shadow: none;
		padding: .5em 1em;
		line-height: 1em;

		margin-top: 1em;
		display: block;
		text-align: center;

		&:hover {
			color: #ffffff;
		}

		&.alt {
			color: #ffffff;

			&:hover {
				background: #f3f3f3;
				color: #999999;
			}
		}
	}
}

#mpcth_page_wrap #mpcth_smart_search_wrap {
	text-align: center;
	background: #f5f5f5;
	height: 0;
	visibility: hidden;

	&.mpcth-search-ready {
		height: auto;
		padding: 1.333em 1em 1.5em;
		display: none;
		visibility: visible;

		.mpcthSelect {
			.mpcthSelectInner {
				width: auto !important;
				padding-right: .5em;
			}
		}
	}

	#mpcth_smart_search {
		padding: 0;
		margin: 0 auto;
		font-size: 1.333em;

		li {
			display: inline-block;
			list-style: none;
		}
	}

	#s {
		width: 10em;
		font-size: 1.333em;
		text-align: center;
	}

	.mpc-w-smart-search-filter-wrap {
		vertical-align: middle;
		display: inline-block;
		text-align: left;
		position: relative;
		overflow: hidden;
		margin: 0 .25em;
	}

	.mpcth-smart-search-divider {
		margin: 1em 0;
		color: #999999;
	}

	.mpc-w-smart-search-field {
		margin-right: .25em;
	}

	#searchsubmit {
		position: relative;
		z-index: 1;
		background: none;
		border: none;
		border: $hover_border;
		border-radius: 2px;
		padding: .25em .75em;
		padding-right: 2.25em;
		text-transform: uppercase;
		line-height: 1.5em;
		outline: none;

		@extend .transition;

		&:hover {
			background: #f3f3f3;
		}
	}
	.mpcth-smart-search-submit-wrap {
		margin: 1em auto 0;

		p {
			position: relative;
			display: inline-block;
			margin: 0;

			i,
			#searchsubmit {
				color: #ffffff;
			}

			&:hover {
				i,
				#searchsubmit {
					color: #666666;
				}
			}
		}

		i {
			position: absolute;
			top: .5em;
			right: .75em;
			z-index: 2;
			color: #999999;
			pointer-events: none;

			@extend .transition;
		}
	}

	span {
		vertical-align: middle;
	}

	select,
	input[type=text] {
		display: inline-block;
		line-height: 1.5em;
		padding: 0;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: none;
		border-bottom: $hover_border;
		border-radius: 0;
		background: #f5f5f5;
		outline: none;

		@extend .transition;

		&:focus,
		&:hover {
			box-shadow: none;
		}
	}
	input[type=text] {
		width: 3em;
		text-align: center;
	}

	.mpcthSelect {
		color: #666666;
		background: #f5f5f5;
		line-height: 1.5em;
		padding: 0 1em 0 .25em;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: none;
		border-bottom: $hover_border;
		border-radius: 0;
		background: #f5f5f5;
		-webkit-font-smoothing: auto;

		&.mpcthSelectHover {
			box-shadow: none;
		}
	}
}

#mpcth_toggle_mobile_sidebar,
#mpcth_toggle_mobile_menu {
	display: none;
	position: fixed;
	top: 100px;
	width: 40px;
	height: 40px;
	background: #ffffff;
	color: #666666;
	z-index: 1025;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

	@extend .transition;

	i {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		line-height: 40px;

		@include opacity(1);

		&.fa-times {
			@include opacity(0);
		}

		@extend .transition;
	}

	@media #{$screen-normal} {
		.mpcth-responsive & {
			display: block;
		}
	}
}

#mpcth_toggle_mobile_menu {
	left: 0;

	&:hover {
		left: 10px;

		+ #mpcth_mobile_nav_wrap {
			left: -310px;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
		}
	}
}
#mpcth_toggle_mobile_menu.active {
	top: 0;
	left: 280px;
	background: transparent;
	box-shadow: none;

	&:hover {
		left: 280px;

		+ #mpcth_mobile_nav_wrap {
			left: 0;
		}
	}

	i {
		&.fa-times {
			@include opacity(1);
		}
		&.fa-bars {
			@include opacity(0);
		}
	}
}

#mpcth_toggle_mobile_sidebar {
	right: -1px;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);

	&:hover {
		right: 9px;

		+ #mpcth_sidebar {
			right: -310px;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
		}
	}
}
#mpcth_toggle_mobile_sidebar.active {
	top: 0;
	right: 0;
	background: transparent;
	box-shadow: none;

	&:hover {
		right: 0;

		+ #mpcth_sidebar {
			right: 0;
		}
	}

	i {
		&.fa-times {
			@include opacity(1);
		}
		&.fa-columns {
			@include opacity(0);
		}
	}
}