/* ========================================================================== *
 * 3. Page
 * ========================================================================== */

.page-template-template-lookbook-php,
.page-template-template-fullwidth-php,
.page-template-template-fullwidth-with-sidebar-php,
.page-template-default {
	#mpcth_content {
		> .mpcth-page {
			padding-top: 1.583em;
		}
	}

	#mpcth_page_wrap .mpcth-page-custom-header {
		.flexslider {
			margin-bottom: 0;
		}
		.rev_slider_wrapper {
			margin-bottom: 1.5em;
		}
	}

	.mpcth-page {
		.mpcth-page-header {
			.mpcth-page-title {
				text-transform: uppercase;
				border-bottom: 1px solid #eeeeee;
				margin-bottom: 1.5em;

				span {
					display: inline-block;
					border-bottom: 1px solid transparent;
					padding-bottom: .814em;
					margin-bottom: -1px;
				}
			}
		}

		.mpcth-page-content {
			margin: 0;
			padding-bottom: 1em;
			font-size: 1.083em;

			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-overlay:first-child,
			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-color:first-child,
			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-image:first-child {
				margin-top: -1.583em;
			}

			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-full-width {
				margin-left: -20px;
				margin-right: -20px;
			}
		}
		.mpcth-page-header + .mpcth-page-content {
			.mpcth-vc-row-wrap:first-child {
				margin-top: 0;
			}
		}
	}
}

.page-template-template-lookbook-php,
.page-template-template-fullwidth-php {
 	#mpcth_main_container {
 		width: 100%;

 		#mpcth_content_wrap {
 			padding: 0;

		 	#mpcth_content {
				padding-top: 0;
			}
		}
	}

	.mpcth-page {
		.mpcth-page-header {
			margin-top: 0;
		}

		.mpcth-page-content,
		.mpcth-page-header,
		.mpcth-page-footer {
			width: 960px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 20px;
			padding-right: 20px;

			@extend .box-sizing;

			@media #{$screen-large} {
				.mpcth-responsive & {
					width: 1200px;
				}
			}
			@media #{$screen-normal} {
				.mpcth-responsive & {
					width: 768px;
				}
			}
			@media #{$screen-medium} {
				.mpcth-responsive & {
					width: 100%;
				}
			}
		}
	}
}
.page-template-template-fullwidth-with-sidebar-php {
	#mpcth_main_container {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
		// padding-left: 20px;
		// padding-right: 20px;

		@extend .box-sizing;

		@media #{$screen-large} {
			.mpcth-responsive & {
				width: 1200px;
			}
		}
		@media #{$screen-normal} {
			.mpcth-responsive & {
				width: 768px;
			}
		}
		@media #{$screen-medium} {
			.mpcth-responsive & {
				width: 100%;
			}
		}
	}
}

// .vc_mobile .page-template-template-lookbook-php,
// .vc_desktop .page-template-template-lookbook-php,
// .vc_mobile .page-template-template-fullwidth-php,
// .vc_desktop .page-template-template-fullwidth-php,
// .vc_mobile .page-template-default,
// .vc_desktop .page-template-default {
.page-template-template-lookbook-php,
.page-template-template-fullwidth-php,
.page-template-template-fullwidth-with-sidebar-php,
.page-template-default {
	#mpcth_content_wrap {
		padding: 0;
	}

	.mpcth-page-header,
	.mpcth-vc-row-wrap .wpb_row,
	.mpcth-page-content,
	.mpcth-page-footer {
		padding-left: 20px;
		padding-right: 20px;

		@extend .box-sizing;

	}
	.mpcth-vc-row-wrap .wpb_row .wpb_row {
		padding-left: 0;
		padding-right: 0;
	}

	.mpcth-vc-row-wrap {
		margin-left: -20px;
		margin-right: -20px;

		background-image: none !important;

		.mpcth-vc-row-wrap {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-color,
	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-image,
	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-overlay {
		margin-left: 0;
		margin-right: 0;
	}

	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-overlay {
		position: relative;

		.mpcth-overlay {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			&.mpcth-overlay-pattern {
				z-index: 1;
				@include opacity(.4);
			}
			&.mpcth-overlay-color {
				z-index: 2;
				@include opacity(.4);
			}
		}

		.wpb_row {
			position: relative;
			z-index: 3;
		}
	}

	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-parallax {
		background-position: top center;
	}

	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-image {
		position: relative;
	}
	.mpcth-vc-row-wrap .mpcth-overlay-image {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-position: center center;
	}
	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-parallax .mpcth-overlay-image {
		background-attachment: fixed;
	}
	.mpcth-vc-row-wrap.wpb_animate_when_almost_visible .mpcth-overlay-image {
		opacity: 0;
	}

	&.mpcth-sidebar-none {
		#mpcth_main_container {
			width: 100%;

			.mpcth-page-content {
				width: 100%;
				padding-right: 0;
				padding-left: 0;
			}

			.mpcth-page-header,
			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-full-width .wpb_row,
			.mpcth-vc-row-wrap,
			.mpcth-page-meta,
			.mpcth-page-tags,
			.mpcth-page-footer {
				margin-left: auto;
				margin-right: auto;
				width: 960px;

				@media #{$screen-large} {
					.mpcth-responsive & {
						width: 1200px;
					}
				}
				@media #{$screen-normal} {
					.mpcth-responsive & {
						width: 768px;
					}
				}
				@media #{$screen-medium} {
					.mpcth-responsive & {
						width: 100%;
					}
				}
			}

			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-color,
			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-image,
			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-overlay {
				width: 920px;

				@media #{$screen-large} {
					.mpcth-responsive & {
						width: 1160px;
					}
				}
				@media #{$screen-normal} {
					.mpcth-responsive & {
						width: 728px;
					}
				}
				@media #{$screen-medium} {
					.mpcth-responsive & {
						width: 100%;
					}
				}

				&.mpcth-vc-row-wrap-full-width {
					width: 100%;
				}
			}

			.mpcth-vc-row-wrap .mpcth-vc-row-wrap,
			.mpcth-vc-row-wrap .mpcth-vc-row-wrap .wpb_row {
				width: 100%;
			}

			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-image {
				position: relative;
				padding: 20px;
				margin-top: 2em;
				margin-bottom: 2em;

				.wpb_row {
					margin-bottom: 30px;
				}

				.mpcth-vc-row-wrap-arrow {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 30px;
					margin-top: -30px;
					z-index: 4;

					&:before,
					&:after {
						content: '';
						position: absolute;
						bottom: -10%;
						display: block;
						height: 0;
						width: 50.25%;
						border: 30px solid transparent;
						border-bottom-color: #ffffff;
						border-top-width: 0;

						@extend .box-sizing;
					}

					&:before {
						border-left-width: 0;
						border-right-width: 40px;
						left: 0;
					}
					&:after {
						border-right-width: 0;
						border-left-width: 40px;
						right: 0;
					}
				}
			}

			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-full-width {
				width: 100%;

				@extend .box-sizing;
			}
		}
	}
}
.page-template-template-lookbook-php,
.page-template-template-fullwidth-php,
.page-template-template-fullwidth-with-sidebar-php,
.page-template-default {
	#mpcth_page_wrap #mpcth_main_container {
		.mpcth-vc-row-wrap .mpcth-vc-row-wrap,
		.mpcth-vc-row-wrap .mpcth-vc-row-wrap .wpb_row {
			width: 100%;
		}
	}
}
.page-template-template-lookbook-php,
.page-template-template-fullwidth-php,
.page-template-template-fullwidth-with-sidebar-php,
.page-template-default {
	#mpcth_page_wrap .mpcth-page {
		.mpcth-page-content {
			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-overlay:first-child,
			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-color:first-child,
			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-image:first-child {
				margin-top: -1.583em;
			}
		}
	}
}
