/* ========================================================================== *
 * 9. Shortcodes
 * ========================================================================== */

/* MPC Shortcodes */
#mpcth_page_wrap #mpcth_footer,
#mpcth_page_wrap #mpcth_main {
	.mpc-vc-icons-list ul {
		margin: 0 0 1.5em 0;
		padding: 0 0 0 .5em;
	}
	.mpc-vc-icons-list li {
		list-style: none;
	}
	.mpc-vc-icons-list i {
		margin-right: .5em;
	}

	.mpcth-socials-list {
		font-size: 14px;
		display: inline-block;
	}
	.mpcth-socials-list-text {
		text-transform: uppercase;
	}

	.mpc-sc-portfolio-meta {
		margin: 0;
		padding: 0;
		list-style: none;
		text-transform: uppercase;
		margin-bottom: 1.5em;
	}
	.mpc-sc-portfolio-meta li {
		margin-bottom: .25em;
	}
	.mpc-sc-portfolio-meta .mpcth-portfolio-meta-name {
		font-weight: bold;
		margin-right: .5em;
	}

	.mpcth-items-slider .slides > li {
		margin-right: 40px;
	}

	.mpc-sc-tooltip-message {
		border-radius: 2px;

		&:after {
			border-width: 4px;
			border-bottom-width: 0;
			bottom: -4px;
		}
	}

	.mpcth-socials-list-wrap {
		margin-bottom: 1.5em;
	}
	.mpcth-socials-list-text {
		margin-right: .5em;
	}
	.mpcth-socials-list li,
	.mpc-sc-portfolio-meta li {
		padding: 0;

		&:before {
			display: none;
		}
	}
	.mpc-sc-portfolio-meta li {
		.mpcth-portfolio-meta-name {
			font-family: $header_font_family;
			-webkit-font-smoothing: antialiased;
		}
	}

	.mpc-vc-icons-list li {
		position: relative;
		padding-left: 1.75em;

		i {
			position: absolute;
			top: .2em;
			left: 0em;
			font-size: 1.077em;
		}

		&:before {
			display: none;
		}
	}

	.mpc-vc-deco-header {
		text-transform: uppercase;
		border-bottom: 1px solid #eeeeee;
		margin-bottom: 1.5em;

		span {
			display: inline-block;
			margin-bottom: -1px;
			border-bottom: 1px solid transparent;
		}
	}
	h1.mpc-vc-deco-header span { padding-bottom: .376em; }
	h2.mpc-vc-deco-header span { padding-bottom: .501em; }
	h3.mpc-vc-deco-header span { padding-bottom: .601em; }
	h4.mpc-vc-deco-header span { padding-bottom: .751em; }
	h5.mpc-vc-deco-header span { padding-bottom: .858em; }
	h6.mpc-vc-deco-header span { padding-bottom: 1.001em; }

	.mpc-vc-icon-column-wrap {
		display: block;
		margin-bottom: 1.5em;

		@extend .transition;

		.mpc-vc-icon-column-icon {
			background: #f5f5f5;
			position: relative;
			text-align: center;
			padding: 2em;

			i {
				font-size: 3.692em;

				@extend .transition;
			}

			.mpc-vc-icon-column-arrow {
				position: absolute;
				bottom: -30px;
				left: 50%;
				margin-left: -20px;
				border: 20px solid transparent;
				border-top-color: #f5f5f5;

				@extend .transition;
			}
			.mpc-vc-icon-column-arrow-bottom {
				border: 11px solid transparent;
				border-top-color: #eeeeee;
				bottom: -23px;
				margin-left: -11px;
			}

			@extend .transition;
		}
		.mpc-vc-icon-column-content {
			text-align: center;
			border: 1px solid #eeeeee;
			padding: 2em 1em;
			color: #666666;
			background: #ffffff;

			.mpc-vc-icon-column-title {
				margin-bottom: .5em;
				font-family: $header_font_family;
				text-transform: uppercase;
			}

			.mpc-vc-icon-column-text {
				margin: 0;
			}
		}

		&:hover {
			box-shadow: $hover_shadow;

			.mpc-vc-icon-column-icon {
				i {
					color: #ffffff;
				}

				.mpc-vc-icon-column-arrow {
					bottom: -36px;
				}

				.mpc-vc-icon-column-arrow-bottom {
					bottom: -23px;
				}
			}
		}
	}

	.mpc-vc-share-list {
		margin-bottom: 1.5em;

		.mpc-vc-share-list-text {
			text-transform: uppercase;
			margin-right: .5em;

			& + a {
				margin-left: 0;
			}
		}

		a {
			font-size: 14px;
			padding: 0 .25em;
			margin-left: .5em;
			color: #666666;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.mpc-vc-quote {
		position: relative;
		font-style: normal;

		&:after {
			@extend .after-clear;
		}

		p {
			margin: 0;
			padding: 0 1.25em;
			font-size: 1.077em;
			line-height: 1.5em;

			.mpc-vc-quote-left,
			.mpc-vc-quote-right {
				display: inline-block;
				font-family: $header_font_family;
				font-size: 2.308em;
				font-weight: normal;
				-webkit-font-smoothing: antialiased;
				line-height: 1px;
				width: 1px;
				vertical-align: top;
			}
			.mpc-vc-quote-left {
				position: relative;
				top: .25em;
				left: -.5em;
			}
			.mpc-vc-quote-right {
				position: relative;
				top: .7em;
				left: .1em;
			}
		}

		cite {
			margin-top: .5em;
			float: right;
			font-style: normal;
			font-size: .923em;
		}
	}
}

/* Lookbook badge */
.mpcth-lookbook-badge,
.mpcth-lookbook-badge-double {
	position: relative;
	display: block;
	width: 70px;
	height: 70px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	line-height: 70px;
	border-radius: 35px;
	color: white;
	background: rgba(148, 81, 132, 0.8);
	border-color: rgba(148, 81, 132, 0.8);
	text-decoration: none;

	.mpcth-lookbook-badge-price-wrap {
		display: block;
		width: 100%;
		height: 100%;

		&:hover {
			+ .mpcth-lookbook-badge-tooltip {
				visibility: visible;
				margin-bottom: 1.5em !important;

				@include opacity(1);
			}
		}
	}
	.mpcth-lookbook-badge-label {
		display: block;
		font-weight: normal;
		text-transform: uppercase;
	}
	.mpcth-lookbook-badge-price {
		display: block;
	}
	.mpcth-lookbook-badge-tooltip {
		position: absolute;
		left: 50%;
		bottom: 100%;
		margin-bottom: 0 !important;
		padding: 0.5em 0.75em;
		border-radius: 3px;
		font-size: 12px;
		line-height: 1.25em;
		white-space: nowrap;
		visibility: hidden;
		z-index: 2;
		background: inherit;
		border: 0 solid transparent;
		border-color: inherit;

		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);

		@extend .transition;
		@include opacity(0);

		&:after {
			content: '';
			position: absolute;
			bottom: -0.5em;
			left: 50%;
			margin-left: -.5em;
			width: 0;
			height: 0;
			border: 0.5em solid transparent;
			border-bottom: 0px solid transparent;
			border-top-color: inherit;
		}
	}

	&:hover {
		color: white !important;
	}
}
.mpcth-lookbook-badge-double {
	line-height: 20px;

	.mpcth-lookbook-badge-price-wrap {
		padding: 15px 0;

		@extend .box-sizing;
	}
}
.ie .mpcth-lookbook-badge,
.ie .mpcth-lookbook-badge-double {
	.mpcth-lookbook-badge-tooltip {
		left: 0;

		&:after {
			left: 35px;
		}
	}
}

/* Lightbox */
.mfp-fade.mfp-bg {
	@include opacity(0);
	@extend .transition;
}
.mfp-fade.mfp-bg.mfp-ready {
	@include opacity(.8);
}
.mfp-fade.mfp-bg.mfp-ready.mpcth-alt-popup {
	@include opacity(.2);
}
.mfp-fade.mfp-bg.mfp-removing {
	@include opacity(0);
}

.mfp-fade.mfp-wrap .mfp-content {
	@include opacity(0);
	@extend .transition;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	@include opacity(1);
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	@include opacity(0);
}

.mfp-wrap.mpcth-alt-popup {
	.mfp-close {
		width: 44px;
		top: 40px;
		text-align: center;
		color: #666666;
		text-shadow: 0 0 3px #ffffff;

		&:hover {
			color: #333333;
		}
	}
}

.mfp-arrow {
	outline: none;
}
.mfp-container .mfp-arrow.mfp-arrow-left:after,
.mfp-container .mfp-arrow.mfp-arrow-right:after {
	display: none;
}
.mfp-container .mfp-arrow.mfp-arrow-left:before,
.mfp-container .mfp-arrow.mfp-arrow-right:before {
	color: #ffffff;
	font-size: 40px;
	border: none;
	line-height: 40px;
	width: 1em;
	height: 40px;
	margin-left: 25px;
}

/* Tooltip */
.mpcth-tooltip-wrap {
	position: relative;
}
.mpcth-tooltip-wrap .mpcth-tooltip-text {
	// border-bottom: 1px dotted #707070;
	// border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}
.mpcth-tooltip-wrap .mpcth-tooltip-message {
	position: absolute;
	left: 100%;
	top: 50%;
	line-height: 1.25em;
	margin-top: -1.125em;
	margin-left: 1.5em !important;
	padding: 0.5em 0.75em;
	border-radius: 2px;
	font-size: 1em;
	white-space: nowrap;
	visibility: hidden;
	z-index: 1000;
	opacity: 0;
	filter: alpha(opacity=0);
	color: #ffffff;

	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.mpcth-tooltip-wrap .mpcth-tooltip-message:after {
	content: '';
	position: absolute;
	top: 50%;
	left: -1em;
	margin-top: -.5em;
	width: 0;
	height: 0;
	border: 0.5em solid transparent;
	border-right-color: inherit;
}
.mpcth-tooltip-wrap .mpcth-tooltip-text:hover + .mpcth-tooltip-message {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
	margin-left: 1em !important;
}

/* Visual Composer */
#mpcth_main .wpb_row {
	margin-left: 0;
	margin-right: 0;
}
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap {
	// Columns width
	.vc_row-fluid .vc_span1 {
		width: 5.28%;
	}
	.vc_row-fluid .vc_span2 {
		width: 13.89%;
	}
	.vc_row-fluid .vc_span3, .wpb_teaser_grid.wpb_carousel .vc_span3 {
		width: 22.5%;
	}
	.vc_row-fluid .vc_span4, .wpb_teaser_grid.wpb_carousel .vc_span4 {
		width: 31.11%;
	}
	.vc_row-fluid .vc_span5 {
		width: 39.72%;
	}
	.vc_row-fluid .vc_span6, .wpb_teaser_grid.wpb_carousel .vc_span6 {
		width: 48.33%;
	}
	.vc_row-fluid .vc_span7 {
		width: 56.94%;
	}
	.vc_row-fluid .vc_span8 {
		width: 65.55%;
	}
	.vc_row-fluid .vc_span9 {
		width: 74.16%;
	}
	.vc_row-fluid .vc_span10 {
		width: 82.78%;
	}
	.vc_row-fluid .vc_span11 {
		width: 91.38%;
	}
	.vc_row-fluid .vc_span12 {
		width: 100%;
	}
	.vc_row-fluid [class*="vc_span"] {
		float: left;
		margin-left: 3.33%;
		padding-left: 0;
		padding-right: 0;
	}
	.vc_row-fluid [class*="vc_span"]:first-child {
		margin-left: 0;
	}

	@media #{$screen-medium} {
		.mpcth-responsive & {
			.vc_row-fluid [class*="vc_span"] {
				width: 100% !important;
				margin-left: 0 !important;
			}
		}
	}

	/* Columns fixes */
	.mpcth-vc-row-wrap {
		margin-bottom: 1em;
	}
	.mpcth-vc-row-wrap:last-child {
		margin-bottom: 0;

		.wpb_row:last-child {
			margin-bottom: 0;
		}
	}
	.wpb_wrapper p:first-child {
		margin-top: 0;
	}

	// Default bottom margin
	.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {
		margin-bottom: 1.5em;
	}

	// Separator
	.vc_separator {
		position: relative;
		margin-bottom: 1.5em;

		&.mpcth-separator {
			.vc_sep_holder_l .vc_sep_line:before {
				content: '';
				display: inline-block;
				width: 3em;
				height: 1px;
				background: transparent;
				vertical-align: top;
				margin-top: -1px;
			}
		}

		> h4 {
			text-transform: uppercase;
			border: 1px solid transparent;
			border-radius: 2px;
			padding: .417em 1em;
			line-height: 1.25em;
			font-weight: normal;
			-webkit-font-smoothing: antialiased;
		}
		&.vc_sep_dashed {
			> h4 {
				border: 1px dashed transparent;
			}
		}
		&.vc_sep_dotted {
			> h4 {
				border: 1px dotted transparent;
			}
		}
		&.vc_sep_double {
			> h4 {
				border: 3px double transparent;
			}
		}

		&.vc_sep_color_grey {
			.vc_sep_line{ border-color: #eeeeee; }
			> h4 { border-color: #eeeeee; }
		}

		&.vc_sep_color_blue > h4 { border-color: #5472d2; }
		&.vc_sep_color_turquoise > h4 { border-color: #00c1cf; }
		&.vc_sep_color_pink > h4 { border-color: #fe6c61; }
		&.vc_sep_color_violet > h4 { border-color: #8d6dc4; }
		&.vc_sep_color_peacoc > h4 { border-color: #4cadc9; }
		&.vc_sep_color_chino > h4 { border-color: #cec2ab; }
		&.vc_sep_color_mulled_wine > h4 { border-color: #50485b; }
		&.vc_sep_color_vista_blue > h4 { border-color: #75d69c; }
		&.vc_sep_color_black > h4 { border-color: #2a2a2a; }
		&.vc_sep_color_orange > h4 { border-color: #f89406; }
		&.vc_sep_color_sky > h4 { border-color: #5aa1e3; }
		&.vc_sep_color_green > h4 { border-color: #6dab3c; }
		&.vc_sep_color_juicy_pink > h4 { border-color: #f4524d; }
		&.vc_sep_color_sandy_brown > h4 { border-color: #f79468; }
		&.vc_sep_color_purple > h4 { border-color: #b97ebb; }
	}

	// Messages
	.wpb_alert {
		background: #F4CA5A;
		border: none;
		border: 1px solid rgba(0, 0, 0, 0.15);
		color: #ffffff;
		padding: 0;
		text-shadow: none;
		font-style: italic;

		&.wpb_alert-info {
			background: #2B92CA;
		}
		&.wpb_alert-success {
			background: #1D9C73;
		}
		&.wpb_alert-error {
			background: #E45555;
		}

		.messagebox_text {
			background: none;
			padding: .7em 1em;

			p:first-child {
				margin-top: 0;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	// Accordion
	.wpb_accordion_header {
		margin-bottom: .8em;
		background: none;
		border-bottom: 1px solid #eeeeee;
		cursor: pointer;
		font-family: $header_font_family;

		.ui-accordion-header-icon {
			display: none;
		}
		.fa {
			display: block;
			width: 1em;
			height: 1em;
			line-height: 1em;
			position: absolute;
			right: 0;
			top: .25em;
		}

		.fa-angle-up {
			display: none;
		}

		&.ui-state-active {
			.fa-angle-down {
				display: none;
			}
			.fa-angle-up {
				display: block;
			}
		}

		&:focus,
		&:active {
			outline: none;
			box-shadow: none;
			text-shadow: none;
		}

		a {
			display: inline-block;
			border-bottom: 1px solid transparent;
			margin-bottom: -1px;
			text-transform: uppercase;
			padding: 0 0 1.001em 0;
			font-weight: bold;
			color: #666666;
			line-height: 1em;
		}
	}
	.wpb_accordion_content {
		padding: 0 0 0 10px;

		@extend .box-sizing;

		.wpb_text_column {
			margin: 0 0 1.5em 0;

			p:first-child {
				margin-top: 0;
			}
		}
	}

	// Toggle
	.wpb_toggle {
		position: relative;
		margin-bottom: 0;
		background: none;
		border-bottom: 1px solid #eeeeee;
		cursor: pointer;
		padding: 0;

		&.ui-state-active {

		}

		.mpcth-title-wrap {
			display: inline-block;
			border-bottom: 1px solid transparent;
			padding-bottom: .847em;
			margin-bottom: -1px;
			text-transform: uppercase;

			@extend .transition;
		}

		.mpcth-toggle-mark {
			position: absolute;
			right: 0;
			bottom: -1.25em;
			width: 2.5em;
			height: 2.5em;
			line-height: 2.5em;
			text-align: center;
			background: #ffffff;
			border: 1px solid #eeeeee;
			border-radius: 100%;
			font-weight: normal;

			@extend .box-sizing;
			@extend .transition;
		}
	}
	.wpb_toggle_content {
		margin: 1.5em 0;
		padding: 0 2.5em 0 1em;

		@extend .box-sizing;

		p:first-child {
			margin-top: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}

	// Tabs
	.wpb_tabs {
		margin-bottom: 1em;

		.wpb_tabs_nav {
			border-bottom: 1px solid #eeeeee;
			margin-bottom: 1.5em;

			&:after {
				@extend .after-clear;
			}

			> li {
				background: none;
				outline: none;
				padding-bottom: 0;
				padding-left: 0;

				> a {
					padding: 1.001em 0;
					margin-right: 1.5em;
					text-transform: uppercase;
					color: #666666;
					font-weight: bold;
					border-bottom: 1px solid transparent;
					line-height: 1em;
					margin-bottom: -1px;
					font-family: $header_font_family;
				}
			}
		}
		.wpb_tab {
			padding: 0 0 0 10px;
			background: none;

			@extend .box-sizing;

			p:first-child {
				margin-top: 0;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	// Tour
	.wpb_tour {
		overflow: hidden;

		.wpb_tabs_nav {
			width: 33.33%;
			border-right: 1px solid #eeeeee;

			&:after {
				@extend .after-clear;
			}

			@extend .box-sizing;

			> li {
				background: none;
				outline: none;
				border-bottom: 1px solid #eeeeee;
				padding-bottom: 0;
				padding-left: 0;

				> a {
					padding: 0;
					text-transform: uppercase;
					color: #666666;
					font-weight: bold;
					line-height: 1em;
					font-family: $header_font_family;
					-webkit-font-smoothing: antialiased;

					> span {
						display: inline-block;
						padding: 1.001em 0;
						border-bottom: 1px solid transparent;
						margin-bottom: -1px;

						@extend .transition;
					}
				}
			}
		}
		.wpb_tab {
			width: 66.66%;
			padding-left: 20px;
			border-left: 1px solid #eeeeee;
			margin-left: -1px;

			@extend .box-sizing;

			> *:last-child {
				margin-bottom: 0;
			}

			p:first-child {
				margin-top: 0;
			}
		}

		.wpb_prev_slide,
		.wpb_next_slide {
			display: none;
		}

		@media #{$screen-small} {
			.mpcth-responsive & {
				.wpb_tabs_nav {
					width: 100%;
					border-right: none;
					margin-bottom: .8em;

					li {
						float: left;
						margin-right: 1em;
					}
				}
				.wpb_tab {
					width: 100%;
					padding-left: 10px;
					border-left: none;
				}
			}
		}
	}
}

#mpcth_main {
	// Call to action
	.wpb_call_to_action {
		display: table;
		width: 100%;
		margin-bottom: 1.5em;
		padding: 0;
		background: none;
		border: none;
		text-transform: uppercase;
		font-family: $header_font_family;
		-webkit-font-smoothing: antialiased;

		.wpb_call_text {
			display: table-cell;
			vertical-align: middle;
			float: none;
			width: 66.66%;
			padding: 20px .8em;
			line-height: 1.25em;
			font-weight: bold;
			font-size: 2em;
			background: #ffffff;
			border: 1px solid #eeeeee;

			@extend .box-sizing;
		}

		.wpb_button_a {
			display: table-cell;
			vertical-align: middle;
			float: none;
			width: 33.33%;
			line-height: 1.3em;
			font-weight: bold;
			font-size: 1.333em;
			text-align: center;

			@extend .box-sizing;

			.mpcth-cta-button-wrap {
				position: relative;
				display: block;
				padding: .5em 2em;
			}
			.mpcth-cta-button {
				color: #ffffff;

				&.mpc-vc-icon-pos-top {
					i {
						display: block;
						margin-top: .25em;
						margin-bottom: .5em;
					}
				}
				&.mpc-vc-icon-pos-right {
					i {
						margin-left: .5em;
					}
				}
				&.mpc-vc-icon-pos-bottom {
					i {
						display: block;
						margin-top: .5em;
						margin-bottom: .25em;
					}
				}
				&.mpc-vc-icon-pos-left {
					i {
						margin-right: .5em;
					}
				}
			}

			.mpcth-cta-arrow {
				position: absolute;
				width: 0;
				height: 0;
				border: 12px solid transparent;

				@extend .transition;
			}

			&:hover {
				background-color: #eeeeee !important; // preview

				.mpcth-cta-button {
					color: #666666;
				}
			}
		}

		&.cta_align_bottom {
			.wpb_call_text,
			.wpb_button_a {
				display: block;
				width: 100%;
			}

			.wpb_button_a {
				.mpcth-cta-arrow {
					top: 0;
					left: 50%;
					margin-top: -12px;
					margin-left: -12px;
					border-right-color: transparent !important;
					border-left-color: transparent !important;
					border-top: none;
				}

				&:hover {
					.mpcth-cta-arrow {
						border-bottom-color: #eeeeee !important; // preview
					}
				}
			}
		}
		&.cta_align_left {
			.wpb_call_text {
				text-align: right;
			}
			.wpb_button_a {
				.mpcth-cta-arrow {
					top: 50%;
					right: 0;
					margin-top: -12px;
					margin-right: -12px;
					border-top-color: transparent !important;
					border-bottom-color: transparent !important;
					border-right: none;
				}

				&:hover {
					.mpcth-cta-arrow {
						border-left-color: #eeeeee !important; // preview
					}
				}
			}
		}
		&.cta_align_right {
			.wpb_button_a {
				.mpcth-cta-arrow {
					top: 50%;
					left: 0;
					margin-top: -12px;
					margin-left: -12px;
					border-top-color: transparent !important;
					border-bottom-color: transparent !important;
					border-left: none;
				}

				&:hover {
					.mpcth-cta-arrow {
						border-right-color: #eeeeee !important; // preview
					}
				}
			}
		}

		@media #{$screen-medium} {
			.mpcth-responsive & {
				&.cta_align_left,
				&.cta_align_right {
					.wpb_call_text,
					.wpb_button_a {
						display: block;
						width: 100%;
					}

					.wpb_button_a {
						.mpcth-cta-arrow {
							display: none;
						}
					}
				}
			}
		}
	}
}

#mpcth_page_wrap #mpcth_main #mpcth_content_wrap {
	/* Carousel */
	.vc_carousel {
		padding-bottom: 2em;

		.vc-carousel .vc-carousel-indicators {
			bottom: -2.5em;
		}
	}
	.vc-carousel {
		max-width: 100%;

		.vc-carousel-indicators {
			bottom: .5em;
			z-index: 100;

			li {
				margin: 0 .2em;
				padding: 0;
				width: .462em;
				height: .462em;
				border-radius: 100%;
				border: none;
				vertical-align: middle;

				-webkit-box-sizing: content-box;
				   -moz-box-sizing: content-box;
				        box-sizing: content-box;

				&.vc-active {
					background: transparent;
					border: 1px solid transparent;
				}

				&:before {
					display: none;
				}
			}
		}

		.vc-carousel-control.vc-left,
		.vc-carousel-control.vc-right {
			display: block;
			text-align: center;
			position: absolute;
			top: 50%;
			background: #ffffff;
			width: 28px;
			height: 28px;
			margin: -20px 0 0;
			border: 1px solid #eeeeee;
			border-radius: 100%;
			padding: 5px;
			text-shadow: none;
			font-size: 1em;

			-webkit-box-sizing: content-box;
			   -moz-box-sizing: content-box;
			        box-sizing: content-box;

			@extend .transition;
			@include opacity(0);

			span {
				display: none;
			}

			&:before {
				font-size: 2em;
				line-height: 28px;

				@include opacity(.8);
			}

			&:hover {
				background: #f3f3f3;
			}
		}
		.vc-carousel-control.vc-left {
			left: -40px;
		}
		.vc-carousel-control.vc-right {
			right: -40px;
		}

		&:hover {
			.vc-carousel-control.vc-left,
			.vc-carousel-control.vc-right {
				@include opacity(1);
			}
			.vc-carousel-control.vc-left {
				left: -14px;
			}
			.vc-carousel-control.vc-right {
				right: -14px;
			}
		}
	}
	.wpb_images_carousel {
		padding-bottom: 2em;

		.vc-inner {
			text-align: center;
		}

		.vc-carousel .vc-carousel-indicators {
			bottom: -2.5em;
		}
	}
	.vc-carousel.vc-per-view-more .vc-carousel-slideline .vc-carousel-slideline-inner > .vc-item {
		> .vc-inner {
			margin: .5em;
			border: 1px solid #eeeeee;

			@extend .box-sizing;

			.post-thumb {
				margin-bottom: 1em;

				img {
					display: block;
				}
			}
			.post-title {
				text-transform: uppercase;
				font-size: 1.154em;
				margin-bottom: .867em;
				margin-top: .867em;
				padding: 0 .765em;
			}
			.entry-content {
				padding: 0 1em;
				margin-bottom: 1em;
				margin-top: 1em;
			}
			.vc_read_more {
				display: inline-block;
				padding: 0 1em;
				margin-bottom: 1em;
			}
		}
	}

	/* Grid */
	.wpb_teaser_grid .wpb_thumbnails {
		margin-left: 0;
		width: 100%;

		li {
			padding: 0;
			border: 1px solid #eeeeee;
			margin-bottom: 1em;

			@extend .box-sizing;

			&:before {
				display: none;
			}

			&.vc_span2 {
				margin-left: .5%;
				margin-right: .5%;
				width: 15.62%;
			}
			&.vc_span3 {
				margin-left: .5%;
				margin-right: .5%;
				width: 24%;
			}
			&.vc_span4 {
				margin-left: .45%;
				margin-right: .45%;
				width: 32.33%;
			}
			&.vc_span6 {
				margin-left: .5%;
				margin-right: .5%;
				width: 48.91%;
			}
			&.vc_span12 {
				margin-left: .5%;
				margin-right: .5%;
				width: 99%;
			}

			.post-thumb {
				margin-bottom: 1em;
				img {
					display: block;
				}
			}
			.post-title {
				text-transform: uppercase;
				font-size: 1.154em;
				margin-bottom: .867em;
				margin-top: .867em;
				padding: 0 .765em;
			}
			.entry-content {
				padding: 0 1em;
				margin-bottom: 1em;
				margin-top: 1em;

				@extend .box-sizing;
			}
			.vc_read_more {
				display: inline-block;
				padding: 0 1em;
				margin-bottom: 1em;
			}
		}
	}

	/* Slider */
	.wpb_posts_slider {
		.wpb_gallery_slides {
			padding-bottom: 2em;

			.flex-viewport {
				padding-bottom: 1px;
			}
		}
		.flex-control-nav {
			bottom: -.25em;

			li {
				a {
					-webkit-box-sizing: content-box;
					   -moz-box-sizing: content-box;
					        box-sizing: content-box;

					width: 0.462em;
					height: 0.462em;
				}
			}
		}
		.flex-caption {
			background: #ffffff;
			border: 1px solid #eeeeee;
			padding: 1.5em;

			p {
				margin: 0;
			}
		}

		.nivoSlider {

		}
		.nivo-controlNav {
			a {
				-webkit-box-sizing: content-box;
				   -moz-box-sizing: content-box;
				        box-sizing: content-box;

				width: 0.462em;
				height: 0.462em;
			}
		}

		.post-title {
			text-transform: uppercase;
			font-size: 1.154em;
			margin-bottom: 0.5em;
			margin-top: -.25em;
		}

		&.mpcth-testimonials {
			color: #ffffff;
			text-transform: uppercase;

			.wpb_gallery_slides {
				background: none;
				padding: 0 0 1em 0;
			}

			.flex-caption {
				text-align: center;
				background: none;
				border: none;
				line-height: 1.5em;
				padding: 1em 0;
				font-size: 1.25em;

				blockquote p {
					font-weight: bold;
					font-size: 0.933em;
					-webkit-font-smoothing: antialiased;
				}

				cite {
					float: none;
					display: inline-block;
					text-transform: none;
					font-weight: bold;
					font-style: italic;
					-webkit-font-smoothing: antialiased;
				}
			}

			.flexslider .flex-direction-nav {
				.flex-prev,
				.flex-next {
					background: none;
					border: none;
					color: #ffffff;
					-webkit-box-sizing: content-box;
					   -moz-box-sizing: content-box;
					        box-sizing: content-box;

					&:before {
						@include opacity(1);
					}

					&:hover {
						@include opacity(1);
					}
				}
			}
			.flexslider:hover .flex-direction-nav a {
				@include opacity(.8);
			}

			.flex-control-nav a {
				background: #ffffff;
				border: none;

				&.flex-active {
					background: none;
					border: 1px solid #ffffff;
				}
			}
		}
	}

	.mpc-vc-testimonials {
		text-transform: uppercase;
		padding: 0 0 1em 0;

		&.flexslider .slides li {
			text-align: center;
			background: none;
			border: none;
			line-height: 1.5em;
			padding: 1em 0;
			font-size: 1.25em;

			blockquote p {
				font-weight: bold;
				font-size: 0.933em;
				-webkit-font-smoothing: antialiased;
			}

			cite {
				float: none;
				display: inline-block;
				text-transform: none;
				font-weight: bold;
				font-style: italic;
				-webkit-font-smoothing: antialiased;
			}
		}

		&.flexslider .flex-direction-nav {
			.flex-prev,
			.flex-next {
				background: none;
				border: none;
				color: inherit;
				-webkit-box-sizing: content-box;
				   -moz-box-sizing: content-box;
				        box-sizing: content-box;

				&:before {
					@include opacity(1);
				}

				&:hover {
					@include opacity(1);
				}
			}
		}
		&.flexslider:hover .flex-direction-nav a {
			@include opacity(.8);
		}

		.flex-control-nav a {
			background: #dddddd;
			background: rgba(0, 0, 0, 0.1);
			border: none;

			&.flex-active {
				background: none;
				border: 1px solid transparent;
				border-color: inherit;
			}
		}
		.flex-control-nav {
			bottom: -.25em;
		}
	}

	/* WP Widgets */
	.widget {
		padding: 0;
		font-size: 1em;

		a {
			color: #666666;
		}
	}

	// Button
	.wpb_button {
		border: none;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 2px;
		text-shadow: none;
		color: #ffffff;

		@extend .transition;

		&:hover {
			background-color: #eeeeee;
			color: #666666;
		}

		&.mpc-vc-icon-pos-top {
			i {
				display: block;
				margin-bottom: .5em;
				margin-top: .15em;
			}
		}
		&.mpc-vc-icon-pos-right {
			i {
				margin-left: .5em;
			}
		}
		&.mpc-vc-icon-pos-bottom {
			i {
				display: block;
				margin-top: .5em;
				margin-bottom: .25em;
			}
		}
		&.mpc-vc-icon-pos-left {
			i {
				margin-right: .5em;
			}
		}

		&.mpc-vc-icon-button {
			i {
				display: inline-block;
				margin: 0;
			}
		}
	}

	/* Pinterest fix */
	.wpb_pinterest_type_vertical {
		> a {
			margin-top: 30px !important;
		}
	}

	/* Google Maps fix */
	.wpb_gmaps_widget {
		.wpb_wrapper {
			padding: 0;
		}
	}

	/* Pie Chart fix */
	.wpb_pie_chart_heading {
		text-transform: uppercase;
		font-size: 1em;
		margin-top: 1em;
	}

	/* Progress Bar */
	.vc_progress_bar .vc_single_bar .vc_label {
		font-size: .923em;
		color: #ffffff;
	}
	.vc_progress_bar .vc_single_bar.bar_grey .vc_label {
		color: #666666;
	}

	/* Text */
	.wpb_text_column {
		p {
			line-height: 1.5em;
		}
	}
}
body .vc_separator .vc_sep_holder .vc_sep_line {
	border-top: 1px solid #eeeeee;
}

/* Sliders */
#mpcth_page_wrap #mpcth_main {
	.mpcth-items-slider-wrap:hover {
		.flex-next { right: 0; }
		.flex-prev { left: 0; }
	}

	.mpcth-items-slider-wrap {
		margin-bottom: 0.5em;
		border: none;
		box-shadow: none;
		border-radius: 0;

		.mpcth-items-slider-prev,
		.mpcth-items-slider-next {
			display: block;
			text-align: center;
			position: absolute;
			top: 50%;
			background: #ffffff;
			width: 28px;
			height: 28px;
			margin: -20px 0 0;
			border: 1px solid #eeeeee;
			border-radius: 100%;
			padding: 5px;
			// color: transparent;

			-webkit-box-sizing: content-box;
			   -moz-box-sizing: content-box;
			        box-sizing: content-box;

			@extend .transition;
			@include opacity(0);

			i {
				font-size: 2em;
				line-height: 28px;

				@include opacity(.8);
			}

			&:hover {
				background: #f3f3f3;

				color: #666666;
			}
		}
		.mpcth-items-slider-prev {
			left: -40px;
		}
		.mpcth-items-slider-next {
			right: -40px;
		}

		@media #{$screen-normal} {
			.mpcth-responsive & {
				.mpcth-items-slider-prev,
				.mpcth-items-slider-next {
					@include opacity(1);
				}

				.mpcth-items-slider-prev {
					left: -20px;
				}
				.mpcth-items-slider-next {
					right: -20px;
				}
			}
		}

		&:hover {
			.mpcth-items-slider-prev,
			.mpcth-items-slider-next {
				@include opacity(1);
			}
			.mpcth-items-slider-prev {
				left: -20px;
			}
			.mpcth-items-slider-next {
				right: -20px;
			}
		}
	}

	.nivoSlider {
		img {
			max-width: none;
		}
	}

	.flexslider {
		background: none;

		ul, ol {
			li {
				position: static;
				padding: 0;
			}

			li:before {
				display: none;
			}
		}

		&.flexslider_fade {
			overflow: visible !important;

			.slides {
				overflow: hidden;
			}
		}
	}

	.caroufredsel_wrapper {
		margin-left: -35px !important;
		margin-bottom: 0 !important;
	}

	.mpcth-items-slider-container {
		margin-right: -40px;
	}
	.mpcth-items-slider-container-wrap {
		margin: 0 -5px;
		padding: 0 5px;
		overflow: hidden;
	}

	.mpcth-items-slider-wrap {
		position: relative;
		margin-top: -5px;
	}
	.mpcth-items-slider-prev,
	.mpcth-items-slider-next {
		position: absolute;
		top: 50%;
		width: 30px;
		height: 30px;
		background: red;
		z-index: 3;
	}
	.mpcth-items-slider-prev {
		left: 0;
	}
	.mpcth-items-slider-next {
		right: 0;
	}

	.mpcth-items-slider {
		width: 100%;
		height: 100px;
		margin-left: -5px !important;

		.mpcth-slide {
			border: 1px solid #eeeeee;
			background: #ffffff;
			margin: 5px 0 5px 40px;
			max-width: 200px;

			float: left;

			@extend .transition;

			&:hover {
				box-shadow: $hover_shadow;
			}

			img {
				display: block;
				width: 100%;
				height: auto;
			}

			@media #{$screen-large} {
				max-width: 260px;
			}
			@media #{$screen-normal} {
				max-width: 216px;
			}
			@media #{$screen-medium} {
				max-width: none;
			}
		}

		.flex-viewport {
			padding: 0 5px;
			margin: 0 -5px;
		}

		&.mpc-vc-blog-posts-slider {
			.mpcth-slide-wrap {
				float: left;
			}
			.mpcth-slide {
				position: relative;
				display: block;
				overflow: hidden;
				padding-right: 20px;
				padding-left: 20px;
				height: 152px;
				float: none;
				max-width: none;

				&.mpcth-slide-row-gap {
					margin-bottom: 1.5em;
				}

				img {
					position: relative;
					z-index: 2;
					display: block;
					width: 200px;
					height: auto;
					float: left;
					margin-right: 20px;
					margin-left: -20px;
				}

				.mpcth-slide-title {
					text-transform: uppercase;
					margin: 1em 0 .25em;
				}
				.mpcth-slide-time {
					text-transform: uppercase;
					color: #666666;
					font-size: 0.923em;
				}
				.mpcth-slide-text {
					color: #666666;
					text-align: justify;
					line-height: 1.5em;
				}
				.mpcth-slide-trim {
					position: absolute;
					bottom: 0;
					left: 0;
					background: #ffffff;
					width: 100%;
					height: 1em;
					z-index: 1;
				}

				@media #{$screen-large} {
					.mpcth-responsive & {
						height: 173px;

						img {
							width: 260px;
						}
					}
				}
				@media only screen and (max-width: 640px) {
					.mpcth-responsive & {
						height: auto;
						padding-left: 0;
						padding-right: 0;

						img {
							float: none;
							width: 100%;
							margin: 0 0 1em 0;
						}

						.mpcth-slide-wrapper {
							padding-left: 20px;
							padding-right: 20px;
						}
					}
				}
			}
		}

		&.mpc-vc-portfolio-posts-slider {
			.mpcth-slide {
				display: block;
				float: left;

				@include opacity(1);

				&:hover {
					box-shadow: none;
				}

				.mpcth-post-header {
					padding: 0;
					width: 100%;
				}

				.mpcth-post-content {
					margin: 0;
					left: 0;
					right: 0;
				}
			}
		}

		&.mpc-vc-images-slider.mpcth-brands {
			.mpcth-slide {
				border: none;
				background: none;

				@extend .transition;
				@include opacity(.3);

				&:hover {
					@include opacity(.8);
					box-shadow: none;
				}
			}
		}

		&.mpc-vc-products-categories-slider {
			.mpcth-slide {
				position: relative;
				display: block;

				.mpcth-slide-content {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					padding: 1em;
					text-align: center;
					text-transform: uppercase;
					background: #ffffff;
					background: rgba(255, 255, 255, 0.9);

					@extend .box-sizing;
				}

				.mpcth-slide-title {
					margin-bottom: 0.25em;
				}

				.mpcth-slide-count {
					font-size: 0.923em;
					color: #666666;
				}
			}
		}

		&.mpc-vc-lookbooks-slider {
			.mpcth-slide {
				position: relative;
				display: block;
				max-width: none;

				.mpcth-slide-content {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					padding: 1.5em 1em;
					text-align: center;
					text-transform: uppercase;
					background: #ffffff;
					background: rgba(255, 255, 255, 0.9);

					@extend .box-sizing;
					@extend .transition;
					@include opacity(0);
				}

				.mpcth-slide-title {
					margin-bottom: 0;

					@extend .transition;

					&:hover {
						color: #666666;
					}
				}

				&:hover {
					.mpcth-slide-content {
						@include opacity(1);
					}
				}
			}
		}

		&.mpc-vc-products-slider {
			.product {
				padding: 0;
				font-size: .923em;

				&.mpcth-slide {
					border: none;

					&:hover {
						box-shadow: none;
					}

					.mpcth-post-header {
						padding: 0;
						width: 100%;
					}

					.mpcth-post-content {
						margin: 0;
					}

					.price {
						> .amount {
							display: inline-block;
							padding-top: .1em;
						}
						.mpcth-from-price + .amount {
							display: block;
						}
					}

					@media only screen and (max-width : 520px) and (min-width : 361px) {
						.mpcth-cart-wrap {
							float: none;
							margin-left: 0;
							border-left: none;
							height: 4.75em;
						}
						.mpcth-post-content {
							height: auto;
						}
						.mpcth-post-title {
							padding-top: 0;
						}
					}
				}
			}
		}
	}
	.wpb_column:not(.vc_span12) .mpcth-items-slider {
		.mpcth-slide {
			max-width: none;
		}
	}
}
#mpcth_page_wrap.mpcth-no-mobile-slider-nav {
	@media #{$screen-normal} {
		.nivo-prevNav,
		.nivo-nextNav,
		.flex-prev,
		.flex-next,
		.mpcth-items-slider-prev,
		.mpcth-items-slider-next {
			display: none !important;
		}
	}
}
#mpcth_page_wrap .rev_slider_wrapper {
	@media #{$screen-normal} {
		.tp-leftarrow,
		.tp-rightarrow {
			display: none !important;
		}
	}
}