/* ========================================================================== *
 * 3.7. Single Portfolio
 * ========================================================================== */

// .vc_mobile .single-mpc_portfolio,
// .vc_desktop .single-mpc_portfolio {
.single-mpc_portfolio {
	#mpcth_content_wrap {
		padding: 0;
	}

	.mpcth-post-header .mpcth-top-side,
	.mpcth-post-header .mpcth-left-side,
	.mpcth-vc-row-wrap .wpb_row,
	.mpcth-post-content,
	.mpcth-post-footer {
		padding-left: 20px;
		padding-right: 20px;

		@extend .box-sizing;
	}
	.mpcth-vc-row-wrap .wpb_row .wpb_row {
		padding-left: 0;
		padding-right: 0;
	}

	.mpcth-vc-row-wrap {
		margin-left: -20px;
		margin-right: -20px;

		background-image: none !important;

		.mpcth-vc-row-wrap {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-color,
	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-image,
	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-overlay {
		margin-left: 0;
		margin-right: 0;
	}

	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-overlay {
		position: relative;

		.mpcth-overlay {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			&.mpcth-overlay-pattern {
				z-index: 1;
				@include opacity(.4);
			}
			&.mpcth-overlay-color {
				z-index: 2;
				@include opacity(.4);
			}
		}

		.wpb_row {
			position: relative;
			z-index: 3;
		}
	}

	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-parallax {
		background-position: top center;
	}

	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-image {
		position: relative;
	}
	.mpcth-vc-row-wrap .mpcth-overlay-image {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-position: center center;
	}
	.mpcth-vc-row-wrap.mpcth-vc-row-wrap-parallax .mpcth-overlay-image {
		background-attachment: fixed;
	}
	.mpcth-vc-row-wrap.wpb_animate_when_almost_visible .mpcth-overlay-image {
		opacity: 0;
	}

	&.mpcth-sidebar-none {
		#mpcth_main_container {
			width: 100%;

			.mpcth-post-content {
				padding-right: 0;
				padding-left: 0;
			}

			#mpcth_content > article > .mpcth-post-header,
			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-full-width .wpb_row,
			.mpcth-vc-row-wrap,
			.mpcth-post-meta,
			.mpcth-post-tags,
			#mpcth_content > article > .mpcth-post-footer {
				margin-left: auto;
				margin-right: auto;
				width: 960px;

				@media #{$screen-large} {
					.mpcth-responsive & {
						width: 1200px;
					}
				}
				@media #{$screen-normal} {
					.mpcth-responsive & {
						width: 768px;
					}
				}
				@media #{$screen-medium} {
					.mpcth-responsive & {
						width: 100%;
					}
				}
			}

			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-color,
			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-image,
			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-overlay {
				width: 920px;

				@media #{$screen-large} {
					.mpcth-responsive & {
						width: 1160px;
					}
				}
				@media #{$screen-normal} {
					.mpcth-responsive & {
						width: 728px;
					}
				}
				@media #{$screen-medium} {
					.mpcth-responsive & {
						width: 100%;
					}
				}

				&.mpcth-vc-row-wrap-full-width {
					width: 100%;
				}
			}

			.mpcth-vc-row-wrap .mpcth-vc-row-wrap,
			.mpcth-vc-row-wrap .mpcth-vc-row-wrap .wpb_row {
				width: 100%;
			}

			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-image {
				position: relative;
				padding: 20px;
				margin-top: 2em;
				margin-bottom: 2em;

				.wpb_row {
					margin-bottom: 30px;
				}

				.mpcth-vc-row-wrap-arrow {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 30px;
					margin-top: -30px;
					z-index: 4;

					&:before,
					&:after {
						content: '';
						position: absolute;
						bottom: -10%;
						display: block;
						height: 0;
						width: 50.25%;
						border: 30px solid transparent;
						border-bottom-color: #ffffff;
						border-top-width: 0;

						@extend .box-sizing;
					}

					&:before {
						border-left-width: 0;
						border-right-width: 40px;
						left: 0;
					}
					&:after {
						border-right-width: 0;
						border-left-width: 40px;
						right: 0;
					}
				}
			}

			.mpcth-vc-row-wrap.mpcth-vc-row-wrap-full-width {
				width: 100%;

				@extend .box-sizing;
			}
		}
	}
}

.single-mpc_portfolio {
	.mpcth-post {
		.mpcth-post-header {
			padding-top: 1.75em;

			.mpcth-post-title {
				text-transform: uppercase;
				border-bottom: 1px solid #eeeeee;
				margin-bottom: 1.5em;

				span {
					display: inline-block;
					border-bottom: 1px solid transparent;
					padding-bottom: .814em;
					margin-bottom: -1px;
				}
			}

			.mpcth-post-pagination {
				float: right;
			}
		}

		.mpcth-post-content {
			margin: 0 0 2em 0;
			font-size: 1.083em;

			.mpcth-post-date {
				text-transform: uppercase;
				display: inline-block;
				margin-bottom: 0;
				color: #666666;
				margin-bottom: 1em;
				margin-top: 1em;

				@extend .box-sizing;

				@media #{$screen-normal} {
					.mpcth-responsive & {
						display: block;
						float: none;
						width: 728px;
						margin-left: auto;
						margin-right: auto;
					}
				}
				@media #{$screen-medium} {
					.mpcth-responsive & {
						width: 100%;
					}
				}
			}

			.mpcth-post-meta {
				padding-bottom: 1.5em;

				.mpcth-categories {
					display: inline-block;
					padding-left: .25em;
					padding-right: .75em;
					margin-right: .75em;
					border-right: 1px solid #eeeeee;
					line-height: 1em;
				}
				.mpcth-static-text {
					color: #999999;
				}
			}
		}

		.mpcth-post-footer {

		}
	}
}

.mpcth-sidebar-none.single-mpc_portfolio {
	.mpcth-post {
		.mpcth-left-side {
			float: left;
			width: 75%;
			padding-right: 20px;
			margin-bottom: 4.25em;
		}

		.mpcth-post-content {
			.mpcth-post-date {
				padding: 0 20px;
				margin-top: 0;
				float: left;
				@media #{$screen-normal} {
					.mpcth-responsive & {
						display: block;
						float: none;
						width: 728px;
						padding: 0;
						margin-left: auto;
						margin-right: auto;
					}
				}
			}

			.mpcth-post-date + .mpcth-vc-row-wrap {
				.wpb_row {
					width: 25%;
					float: left;
				}
			}

			.mpcth-vc-row-wrap {
				&:after {
					@extend .after-clear;
				}
			}
		}

		@media #{$screen-normal} {
			.mpcth-responsive & {
				.mpcth-left-side {
					float: none;
					width: 100%;
				}

				.mpcth-post-content {
					.mpcth-post-date + .mpcth-vc-row-wrap {
						.wpb_row {
							width: 100%;
							float: none;
						}
					}
				}
			}
		}
	}
}