/* ========================================================================== *
 * 8. Socials
 * ========================================================================== */

.mpcth-socials-list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		margin-left: .5em;

		&:first-child {
			margin-left: 0;
		}

		a {
			display: inline-block;
			padding: 0 .25em;
			color: #666666;
		}
	}
}

#mpcth_header_socials {
	font-size: 1.273em;
}