/* ========================================================================== *
 * 7. Widgets
 * ========================================================================== */

.mpcth-widget-column {
	padding: 1em 0;
	margin: 0;
}

#mpcth_page_wrap .widget {
	padding: 1em 20px;
	font-size: 1.083em;

	.widget-title {
		border-bottom: 1px solid #eeeeee;
		margin-bottom: 1.5em;
		text-transform: uppercase;
		font-size: 1em;

		span {
			display: inline-block;
			border-bottom: 1px solid transparent;
			padding-bottom: 1.001em;
			margin-bottom: -1px;
		}

		+ * {
			width: 100%;
		}
	}

	ul,
	ol {
		padding-left: 0;

		ul,
		ol {
			padding-left: .5em;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	input,
	select,
	textarea {
		max-width: 100%;

		background: #ffffff;
		color: #999999;
		outline: none;
		border: 1px solid #eeeeee;
		padding: 7px 10px;
		width: 100%;
		display: block;

		@extend .transition;

		&:focus,
		&:hover {
			box-shadow: $hover_shadow;
		}

		@extend .box-sizing;
		@extend .transition;
	}

	&:before {
		display: none;
	}
}

#mpcth_page_wrap #mpcth_footer .widget,
#mpcth_page_wrap #mpcth_main .widget {
	&.widget_text {
		a:hover {
			color: #666666;
		}
	}
}

#mpcth_page_wrap .widget {
	&.widget_rss {
		ul,
		ol {
			li {
				padding-bottom: .75em;
			}
		}

		.rsswidget {
			text-transform: uppercase;
		}

		.rss-date {
			display: block;
			padding-bottom: .25em;
			color: #999999;
		}
	}

	&.widget_calendar {
		caption {
			padding-bottom: .5em;
		}
		table {
			width: 100%;
			text-align: center;
		}
		th, td {
			position: relative;
			padding: .5em .25em;
			line-height: 1em;
		}
		tbody a:before {
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: #f3f3f3;
			z-index: -1;
		}
		#prev {
			text-align: left;
		}
		#next {
			text-align: right;
		}
	}

	&.widget_product_tag_cloud,
	&.widget_tag_cloud {
		a {
			font-size: 1em !important;
			margin: 0 .5em .5em 0;
			display: inline-block;
		}
	}
}

#searchform {
	#s {
		margin-bottom: 1em;
	}
}

#mpcth_page_wrap #mpcth_main .mpc-w-twitter-widget,
#mpcth_page_wrap #mpcth_footer .mpc-w-twitter-widget {
	.tweet {
		&:after {
			@extend .after-clear;
		}

		a:hover {
			color: #666666;
		}

		.e-entry-title {
			line-height: 1.5em;
		}

		b {
			-webkit-font-smoothing: antialiased;
		}

		abbr {
			border-bottom: none;
		}
	}
	.avatar {
		float: left;
		margin-right: .5em;
	}
	.u-url,
	.u-url * {
		vertical-align: top;
		line-height: 1em;
	}
	.e-entry-content {
		clear: both;
	}
	.e-entry-title {
		margin-bottom: .5em;
	}
	.header {
		display: none;
	}
	.permalink {
		float: right;
	}
	&:after {
		content: '';
		clear: both;
		display: block;
	}
}

#mpcth_main .widget.mpc-w-shop-info-widget {
	text-transform: uppercase;

	h2 {
		line-height: 1.1em;
		margin-bottom: .5em;
	}

	a {
		display: inline-block;
		margin-bottom: .25em;

		&:hover {
			color: #666666;
		}
	}

	& + .widget.woocommerce {
		margin-top: -1.25em;
	}
}

.mpc-w-recent-posts-widget {
	.mpc-w-recent-post {
		clear: both;
	}
	.mpc-w-recent-post-title img {
		float: left;
		margin-right: .5em;
		width: 60px;
		height: 60px;
	}
	.mpc-w-recent-post-meta {
		display: block;
	}
}

.widget_pages {
	li {
		list-style: none;
	}

	.children {
		margin: 0;
		padding: 0 0 0 1em;
	}
}

.widget_nav_menu {
	li {
		list-style: none;
	}

	.menu {
		margin: 0;
		padding: 0;
	}

	.sub-menu {
		margin: 0;
		padding: 0 0 0 1em;
	}
}

#mpcth_page_wrap .widget_recent_entries {
	li {
		padding-bottom: .5em;
	}
	a {
		text-transform: uppercase;
	}
	.post-date {
		display: block;
		font-size: .923em;
		color: #999999;
	}
}

.widget_product_search {
	.screen-reader-text {
		display: none;
		text-transform: uppercase;
		margin-bottom: 1em;
	}

	#s {
		margin-bottom: 1em;
	}
}

.widget_product_categories {
	.product-categories {
		line-height: 1.7em;

		> li > a {
			display: inline-block;
			margin-bottom: .25em;
			font-weight: bold;
			-webkit-font-smoothing: antialiased;
		}
	}
}

#mpcth_page_wrap .s2_form_widget form {
	label[for=s2email] + br,
	label[for=s2email] {
		display: none;
	}

	input[type=submit] {
		text-transform: uppercase;
		border: none;
		border: $hover_border;
		border-radius: 2px;
		background: #eeeeee;
		line-height: 1em;

		@extend .transition;

		&:hover {
			box-shadow: none;
			color: #ffffff;
		}
	}
}

/* Woocommerce products list */
#mpcth_page_wrap #mpcth_main .widget,
#mpcth_page_wrap #mpcth_footer .widget {
	.product_list_widget {
		li {
			padding: 0;
			border: 1px solid #eeeeee;
			margin-bottom: 1.5em;
			background: #ffffff;

			@extend .transition;

			&:hover {
				box-shadow: $hover_shadow;

				a {
					color: #666666;
				}
			}

			&.empty {
				background: none;
				border: none;
				margin-bottom: 0;

				&:hover {
					box-shadow: none;
				}
			}

			a {
				padding-top: 1em;
				padding-right: 1.5em;
				text-transform: uppercase;
				font-family: $header_font_family;
				-webkit-font-smoothing: antialiased;
			}

			img {
				float: left;
				width: 75px;
				box-shadow: none;
				margin: -1em 1.25em 0 0;
			}

			span {
				display: inline-block;
				padding-top: .25em;
			}

			del span {
				text-decoration: line-through;
			}

			ins {
				text-decoration: none;

				span {
					-webkit-font-smoothing: antialiased;
					font-weight: bold;
				}
			}

			.variation {
				display: none;
				text-transform: uppercase;

				dt {
					display: inline-block;
					float: none;
					clear: none;
					color: #999999;
				}

				dd {
					display: inline-block;
					margin-left: .25em;
				}
			}

			.star-rating {
				position: absolute;
				bottom: .5em;
				right: .5em;

				> span {
					padding-top: 1em;
					margin-bottom: -1em;
				}
			}

			&:before {
				display: none;
			}
		}
	}
}
#mpcth_page_wrap.mpcth-disable-price #mpcth_main .widget,
#mpcth_page_wrap.mpcth-disable-price #mpcth_footer .widget {
	.product_list_widget {
		.mpcth-from-price,
		.amount {
			display: none !important;
		}
	}
}

/* WooCommerce Cart */
#mpcth_page_wrap .widget {
	&.widget_shopping_cart {
		line-height: 1.25em;

		.total {
			padding-top: 1em;
			text-transform: uppercase;
			border-top: 1px solid #eeeeee;
			font-family: $header_font_family;
		}
		.buttons {
			margin-bottom: 0;

			a {
				width: 48%;
				text-align: center;

				@extend .box-sizing;

				&.checkout {
					float: right;
				}
				&:after {
					display: none;
				}
			}
		}
		.quantity {
			width: 50%;
		}
	}
}

/* Widgets */
#mpcth_page_wrap {
	.bra-photostream-widget {
		ul {
			list-style: none;
			padding: 0px;
			margin-left: 0px !important;
			margin-bottom: .25em !important;
			overflow: hidden;

			li {
				height: auto;
				border: none;
				margin: 0px 5px 5px 0px!important;
				padding: 0px;

				a {
					display: block !important;
					margin: 0px;
					padding: 0px !important;
					width: 60px !important;
					height: 60px !important;
					border:none !important;
					overflow: hidden;
				}

				&:hover {
					box-shadow: none;

					a {
						border: none ;
					}
					img {
						opacity: .7;
						filter: alpha(opacity=70);
					}
				}

				&:before {
					display: none;
				}

				img {
					width: 60px !important;
					height: 60px !important;
					border: none;
					display: block;
					max-width: none !important;

					@extend .transition;
				}
			}
		}
	}
}

/* Flex Slider */
#mpcth_page_wrap #mpcth_main {
	.flexslider:hover {
		.flex-next { right: 0; }
		.flex-prev { left: 0; }
	}

	.flexslider {
		// margin-bottom: 0.5em;
		border: none;
		box-shadow: none;
		border-radius: 0;

		.flex-next,
		.flex-prev { font-size: 0; }

		.flex-direction-nav a {
			text-shadow: none;
			background: #ffffff;
			width: 28px;
			height: 28px;
			margin: -20px 0 0;
			border: 1px solid #eeeeee;
			border-radius: 100%;
			padding: 5px;

			-webkit-box-sizing: content-box;
			   -moz-box-sizing: content-box;
			        box-sizing: content-box;

			@include opacity(0);

			&.flex-prev {
				left: -40px;

			}
			&.flex-next {
				right: -40px;
			}

			@media #{$screen-normal} {
				.mpcth-responsive & {
					@include opacity(1);

					&.flex-prev {
						left: -20px;
					}
					&.flex-next {
						right: -20px;
					}
				}
			}

			&:before {
				font-size: 26px;
				line-height: 28px;
			}

			&:hover {
				background: #f3f3f3;
				color: #666666;
			}
		}

		.flex-control-nav {
			bottom: 0.5em;
			z-index: 100;

			li {
				margin: 0 0.3em;
				vertical-align: middle;

				a {
					width: 0.5em;
					height: 0.5em;
					border-radius: 100%;

					-webkit-box-sizing: content-box;
					   -moz-box-sizing: content-box;
					        box-sizing: content-box;

					&.flex-active {
						background: transparent;
						border: 1px solid transparent;
						box-shadow: none;
					}
				}
			}
		}

		.slides > li {
			-webkit-backface-visibility: visible;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}
		}

		&:hover {
			.flex-direction-nav a {
				@include opacity(1);

				&.flex-prev {
					left: -20px;
				}
				&.flex-next {
					right: -20px;
				}
			}
		}
	}
}
#mpcth_main .mpcth-post,
#mpcth_main .mpcth-page {
	.flex-next { right: -20px; }
	.flex-prev { left: -20px; }

	.flexslider:hover {
		.flex-next {
			right: -20px;
		}
		.flex-prev {
			left: -20px;
		}
	}

	.flexslider {
		margin-bottom: 0.5em;

		.flex-direction-nav a {
			text-shadow: none;
			background: #ffffff;
			width: 28px;
			height: 28px;
			margin: -20px 0 0;
			border: 1px solid #eeeeee;
			border-radius: 100%;
			padding: 5px;

			@include opacity(0);

			&.flex-prev {
				left: -40px;
			}
			&.flex-next {
				right: -40px;
			}

			@media #{$screen-normal} {
				.mpcth-responsive & {
					@include opacity(1);

					&.flex-prev {
						left: 0px;
					}
					&.flex-next {
						right: 0px;
					}
				}
			}

			&:hover {
				background: #f3f3f3;
			}
		}

		.flex-control-nav {
			bottom: 0.5em;
			z-index: 100;

			li {
				margin: 0 0.3em;

				a {
					width: 0.5em;
					height: 0.5em;
					border-radius: 100%;

					&.flex-active {
						background: transparent;
						border: 1px solid transparent;
						box-shadow: none;
					}
				}
			}
		}

		.slides > li {
			-webkit-backface-visibility: visible;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			img {
				box-shadow: none;
			}
		}

		&:hover {
			.flex-direction-nav a {
				@include opacity(1);

				&.flex-prev {
					left: -20px;
				}
				&.flex-next {
					right: -20px;
				}
			}
		}

		&#main_slider {
			margin-bottom: 2.5em;

			.slides > li {
				padding-bottom: 30px;
			}

			.flex-direction-nav a {
				margin-top: -35px;
			}

			.mpcth-lightbox {
				position: relative;
				display: block;

				.fa {
					position: absolute;
					bottom: -30px;
					left: 50%;
					width: 60px;
					height: 60px;
					background: #ffffff;
					border: 1px solid #eeeeee;
					border-radius: 100%;
					line-height: 60px;
					margin-left: -30px;
					font-size: 1.5em;

					@extend .transition;

					&:hover {
						background-color: #f3f3f3;
					}
				}
			}
		}
	}
}

/* Revolution Slider */
#mpcth_page_wrap #mpcth_main {
	.rev_slider_wrapper {
		@media #{$screen-small} {
			.mpcth-responsive & {
				display: none;
			}
		}

		.tp-bullets.simplebullets.round {
			bottom: 3em;
			z-index: 100;
			padding-bottom: 1em;

			.bullet {
				width: 0.5em;
				height: 0.5em;
				border-radius: 100%;
				border: none;
				margin: 0 .3em;
				background: none;

				&.selected {
					background: transparent;
					border: 1px solid transparent;
					box-shadow: none;
					margin-top: -1px;
				}
			}
		}
		.tp-leftarrow.default,
		.tp-rightarrow.default {
			background: none;
			text-shadow: none;
			background: #ffffff;
			width: 28px;
			height: 28px;
			margin: -20px 0 0;
			border: 1px solid #eeeeee;
			border-radius: 100%;
			padding: 5px;
			text-align: center;
			top: 50% !important;

			-webkit-box-sizing: content-box;
			   -moz-box-sizing: content-box;
			        box-sizing: content-box;

			@extend .transition;
			@include opacity(0);

			&:before {
				font-size: 26px;
				line-height: 28px;
			}

			&:hover {
				background: #f3f3f3;
				color: #666666;
			}

		}
		.tp-leftarrow.default {
			left: 0px !important;

			&:before {
				padding-right: 2px;
			}
		}
		.tp-rightarrow.default {
			right: 0px !important;
		}

		@media #{$screen-normal} {
			.mpcth-responsive & {
				.tp-leftarrow.default,
				.tp-rightarrow.default {
					@include opacity(1);
				}

				.tp-leftarrow.default {
					left: 20px !important;
				}

				.tp-rightarrow.default {
					right: 20px !important;
				}
			}
		}

		&:hover {
			.tp-leftarrow.default,
			.tp-rightarrow.default {
				@include opacity(1);
			}
			.tp-leftarrow.default {
				left: 20px !important;
			}
			.tp-rightarrow.default {
				right: 20px !important;
			}
		}
	}
}

/* NivoSlider */
#mpcth_page_wrap #mpcth_main {
	.nivoSlider {
		box-shadow: none;
		background: none;

		.nivo-directionNav a {
			text-shadow: none;
			text-align: center;
			background: none;
			width: 28px;
			height: 28px;
			margin: -20px 0 0;
			top: 50%;
			border: none;
			border-radius: 100%;
			padding: 5px;
			text-indent: 0;
			font-size: 0;

			@include opacity(0);

			&:before {
				line-height: 28px;
				font-size: 26px;
			}

			&.nivo-prevNav {
				left: -20px;
			}
			&.nivo-nextNav {
				right: -20px;
			}

			@media #{$screen-normal} {
				.mpcth-responsive & {
					@include opacity(1);

					&.nivo-prevNav {
						left: 0px;
					}
					&.nivo-nextNav {
						right: 0px;
					}
				}
			}
		}

		.nivo-controlNav {
			bottom: 2.5em;
		}

		&:hover {
			.nivo-directionNav a {
				@include opacity(1);

				&.nivo-prevNav {
					left: 0px;
				}
				&.nivo-nextNav {
					right: 0px;
				}
				&:hover {
					@include opacity(.8);
				}
			}
		}
	}

	.nivo-controlNav {
		bottom: 3em;
		z-index: 100;
		position: relative;

		.nivo-control {
			width: 0.5em;
			height: 0.5em;
			border-radius: 100%;
			border: none;
			margin: 0 6px;

			&.active {
				background: transparent;
				border: 1px solid transparent;
				box-shadow: none;
			}
		}
	}
}