/*
Theme Name: PolorayChild
Version: 1.0
Description: A child theme of Poloray
Template: poloray
*/

@import url("../poloray/style.css");
body {
    background: url("images/bg.png") repeat fixed 0 0 #000;
    color: #5c5c5c;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 13px;
    line-height: 20px;
}
.body_color {
    background-color: #000;
    padding-left: 5px;
    padding-right: 5px;
}
/* header modifications */
.site-description {
    display: none;
}
.wrapper {
    background-color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
}
.header {
    background-color: #000;
    display: inline-block;
    margin: 5px auto 10px;
    width: 100%;
}
.container_24 .grid_8 {
    width: 131px;
}
#menu .ddsmoothmenu {
    background-color: #000;
    float: left;
    list-style: outside none none;
    margin: -12px 52px 0;
    position: relative;
    width: 662px;
    z-index: 100;
}
#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover, #menu li.current_page_item a {
    background-color: #000;
    border-radius: 0;
    box-shadow: none;
    color: #096993;
    line-height: 40px;
}
.menu_bar {
    background-color: #000;
    display: inline-block;
    width: 100%;
}
/*content hp */
.slider_container {
    background-color: #000;
    background-image: none;
    min-height: 200px !important;
    width: 100%;
}
.top_content_wrapper {
    background: none;
    margin: 0;
    overflow: hidden;
    padding: 27px 0 40px;
    width: 100%;
}
.feature_box {
    background:none;
    overflow: hidden;
    padding-bottom: 32px;
    width: 100%;
}
/*footer*/
.footer_top_linestrip {
    background:none;
}
.footer_wrapper_top {
    background: none;
}
.footer_wrapper_bottom {
  background: none;
}
