/*

Theme Name:     Blaszok Child

Theme URI:      http://www.mpcraetion.pl/themeforest/

Description:    Child theme for the BLaszok Theme

Author:         massivePixelCreation

Author URI:     http://www.blog.mpcreation.pl

Template:       blaszok

Version:        1.2.3

*/



@import url("../blaszok/style.css");

body {
 background-color:#000;
 } 
 
 
.mpcth_content_wrap {
    margin: 244px auto 0;
    width: 300px;
}