/*

Theme Name:     Blaszok Child

Theme URI:      http://www.mpcraetion.pl/themeforest/

Description:    Child theme for the BLaszok Theme

Author:         massivePixelCreation

Author URI:     http://www.blog.mpcreation.pl

Template:       blaszok

Version:        1.2.3

*/



@import url("../blaszok/style.css");



#mpcth_secondary_menu {

  display: none !important;

}





.mpcth-page-content h4 {

  color: #9a9a9a;

  font-weight: 500;

}



.mpcth-page-content p {

  color: #ffffff;

}



.foot-cont-left-1 {

  width: 110px;

  float: left;

  margin: 0 20px 0 0;

}



.foot-cont-left-2 {

  width: 170px;

  float: left;

  margin: 0;

}



#mpcth_footer_copyrights img {

  margin: 2px 0 0 25px;

  vertical-align: baseline;

}



#mpcth_footer_content {

  color: #666666;

}



.home-text {

  color:  #ffffff !important;

}

.home-text h2 {

  font-size: 2.6em;

  line-height: 1.1em;

}

.home-text p {

  font-size: 1.2em;

  line-height: 1.1em;

}

.home-text h3 {

  font-size: 1.6em;

  line-height: 1.1em;

}



.products-text {

  margin: 2.0em 0 0 1.7em !important;

  padding: 0 4em 0 0 !important;

  width: 63% !important;

  float:  left !important;

  border-right:  1px solid #444444;

}

.products-text h4 {

  color: #9a9a9a;

  font-weight: 500;

}

.products-text p {

  color: #ffffff;

}



.products-title {

  margin: 2.0em 0 0 1.7em !important;

  float:  left !important;

  width: 97% !important;

}

.products-title h4 {

  color: #9a9a9a;

  font-weight: 500;

}



body.single-mpc_portfolio h4, body.single-mpc_portfolio h5 {

  color: #9a9a9a;

  font-weight: 500;

}



body.single-mpc_portfolio p {

  color: #9a9a9a;

}



body.page-template-template-portfolio-php .mpcth-post-categories, body.page-template-template-fullwidth-php .mpcth-post-categories {

  display: none !important;

}

body.single-mpc_portfolio .mpcth-post-categories {

  display: none !important;

}





body.single-mpc_portfolio #mpcth_mega_menu a.dc-mega[title="products"] {

  color:#F1C40F !important;

}

body.page-template-template-portfolio-php.page-id-2938 #mpcth_mega_menu a.dc-mega[title="products"],

body.page-template-template-portfolio-php.page-id-3233 #mpcth_mega_menu a.dc-mega[title="products"],

body.page-template-template-portfolio-php.page-id-3236 #mpcth_mega_menu a.dc-mega[title="products"],

body.page-template-template-portfolio-php.page-id-3231 #mpcth_mega_menu a.dc-mega[title="products"] {

  color:#F1C40F !important;

}



.product-mini-sidebar {

  float: right !important;

  margin: 2.0em 1.4em 0 0 !important;

}

.product-mini-sidebar h4 {

  color: #9a9a9a;

  font-weight: 500;

}



body.single-mpc_portfolio .mpcth-post-date {

  display: none !important;

}





.page-template-template-portfolio-php #mpcth_portfolio_sorts {

    display: none;

}





.gallery-vip-border {

  margin: 2.0em 0 0 0 !important;

  padding: 0 4em 0 0 !important;

  width: 65% !important;

  float: left !important;

  border-right: 1px solid #444444;

}



.gallery-vip {

  margin: 0 !important;

  padding: 0 !important;

  width: 110%;

  

}



.gallery-vip img {

  border: 2px solid #e3e3e3;

  margin: 0 14% 10% 0 !important;

}



.gallery-vip img:hover {

  zoom: 1;

  filter: alpha(opacity=50);

  opacity: 0.5;

}







.contact-text {

  float: left;

  margin: 2.0em 0 0 1.7em !important;

  padding: 0 3em 0 0 !important;

  width: 77% !important;

  border-right: 1px solid #444444;

}

.contact-text h4 {

  color: #9a9a9a;

  font-size: 1.5em;

  font-weight: 500;

}

.contact-mini-sidebar {

  float: left;

  margin: 2.0em 0 0 2em !important;

  max-width: 208px;

}

.contact-mini-sidebar h4 {

  color: #9a9a9a;

  font-size: 1.5em;

  font-weight: 500;

}

.contact-left {

  margin: 0 0 0 1.7em !important;

}

.contact-center {

  width: 38% !important;

  color:  white;

}



.sub {

  min-height: 240px;

}









@media only screen and (min-width: 1200px) {

  

}



@media only screen and (min-width: 1024px) {

  .contact-text {

    width: 72% !important;

  }

  

}





@media only screen and (max-width: 979px) {

  .contact-text {

    width: 70% !important;

  }

  

}





@media only screen and (max-width: 767px) {

  #mpcth_page_content {

    padding: 20px;

  }

  .product-mini-sidebar {

    display: none;

  }

  .contact-text {

    width: 100% !important;

    border: none !important;

    margin:  0 !important;

    padding: 0 !important

  }

  .contact-mini-sidebar {

    display: none;

  }

  .gallery-vip-border {

    width: 100% !important;

    border: none !important;

    margin:  0 !important;

    padding: 0 !important

  }

  .products-text {

    width: 100% !important;

    border: none !important;

    margin:  0 !important;

    padding: 0 !important

  }

  .products-title {

    margin:  0 !important;

    padding: 0 !important

  }

  .products-title h4 {

    margin:  0 !important;

    padding: 0 !important

  }

  

}





@media only screen and (max-width: 480px) {

  #mpcth_page_content {

    padding: 20px;

  }

  .product-mini-sidebar {

    display: none;

  }

  .contact-text {

    width: 100% !important;

    border: none !important;

    margin:  0 !important;

    padding: 0 !important

  }

  .gallery-vip-border {

    width: 100% !important;

    border: none !important;

    margin:  0 !important;

    padding: 0 !important

  }

  .products-text {

    width: 100% !important;

    border: none !important;

    margin:  0 !important;

    padding: 0 !important

  }

  .products-title {

    margin:  0 !important;

    padding: 0 !important

  }

  .products-title h4 {

    margin:  0 !important;

    padding: 0 !important

  }



}
.mpcth-sidebar-right #mpcth_content_wrap {
    border-right: 1px solid #eeeeee;
    float: left;
    width: 100%;
}