/* ---------------------------------------------------------------- */
/* #FFFFFF
/* ---------------------------------------------------------------- */

/* BORDER TOP */
#mpcth_page_wrap .mpcth-menu .children:after,
#mpcth_page_wrap .mpcth-menu .sub-menu:after,
#mpcth_page_wrap #mpcth_menu .children:after,
#mpcth_page_wrap #mpcth_menu .sub-menu:after,
#mpcth_page_wrap #mpcth_mini_cart:after,
#mpcth_page_wrap #mpcth_mega_menu .widget .sub-container > .sub-menu:after {
	border-top-color: #f3f3f3;
}

/* BORDER RIGHT */
.mpcth-sidebar-right #mpcth_page_wrap #mpcth_sidebar .mpcth-sidebar-arrow:after {
	border-right-color: #f3f3f3;
}

/* BORDER BOTTOM */
.vc_mobile #mpcth_page_wrap #mpcth_main_container .mpcth-vc-row-wrap.mpcth-vc-row-wrap-image .mpcth-vc-row-wrap-arrow:before,
.vc_mobile #mpcth_page_wrap #mpcth_main_container .mpcth-vc-row-wrap.mpcth-vc-row-wrap-image .mpcth-vc-row-wrap-arrow:after,
.vc_desktop #mpcth_page_wrap #mpcth_main_container .mpcth-vc-row-wrap.mpcth-vc-row-wrap-image .mpcth-vc-row-wrap-arrow:before,
.vc_desktop #mpcth_page_wrap #mpcth_main_container .mpcth-vc-row-wrap.mpcth-vc-row-wrap-image .mpcth-vc-row-wrap-arrow:after {
	border-bottom-color: #f3f3f3 !important;
}

/* BORDER LEFT */
.mpcth-sidebar-left #mpcth_page_wrap #mpcth_sidebar .mpcth-sidebar-arrow:after {
	border-left-color: #f3f3f3;
}

/* BACKGROUND */
#mpcth_page_header_secondary_content #mpcth_secondary_mini_menu ul,
#mpcth_page_wrap #mpcth_toggle_mobile_sidebar,
#mpcth_page_wrap #mpcth_toggle_mobile_menu,
#mpcth_page_wrap,
#mpcth_page_wrap #mpcth_page_header_wrap.mpcth-sticky-header:hover,
#mpcth_page_wrap #mpcth_page_header_secondary_content #lang_sel ul ul,
#mpcth_page_wrap #mpcth_mini_cart,
#mpcth_page_wrap .mpcth-menu .children,
#mpcth_page_wrap .mpcth-menu .sub-menu,
#mpcth_page_wrap #mpcth_menu .children,
#mpcth_page_wrap #mpcth_menu .sub-menu,
#mpcth_page_wrap #mpcth_mega_menu .widget .sub-container > .sub-menu {
	background-color: #f3f3f3;
}
#mpcth_page_wrap #mpcth_mobile_nav_wrap,
.mpcth-sidebar-right #mpcth_page_wrap #mpcth_sidebar,
.mpcth-sidebar-left #mpcth_page_wrap #mpcth_sidebar,
#mpcth_page_wrap #mpcth_page_header_wrap {
	background-color: #f3f3f3;
	background-color: rgba(243, 243, 243, 0.95);
}

/* BACKGROUND ! */
#mpcth_page_wrap #mpcth_main .mpcth-items-slider.mpc-vc-products-categories-slider .mpcth-slide .mpcth-slide-content,
#mpcth_page_wrap #mpcth_main .mpcth-items-slider.mpc-vc-lookbooks-slider .mpcth-slide .mpcth-slide-content,
#mpcth_page_wrap #mpcth_mini_cart .mpcth-mini-cart-products .mpcth-mini-cart-thumbnail .mpcth-mini-cart-remove {
	background-color: #f3f3f3 !important;
	background-color: rgba(243, 243, 243, 0.9) !important;
}

/* ---------------------------------------------------------------- */
/* #FFFFFF - EXTEND
/* ---------------------------------------------------------------- */

#mpcth_page_wrap .mpcthSelect,
.single #mpcth_page_wrap .mpcth-post .mpcth-post-pagination a,
#mpcth_page_wrap .widget input,
#mpcth_page_wrap .widget select,
#mpcth_page_wrap .widget textarea,
#mpcth_page_wrap #mpcth_main .flexslider .flex-direction-nav a,
#mpcth_page_wrap #mpcth_main .mpcth-post .flexslider .flex-direction-nav a,
#mpcth_page_wrap #mpcth_main .mpcth-page .flexslider .flex-direction-nav a,
#mpcth_page_wrap #mpcth_main .mpcth-post .flexslider#main_slider .mpcth-lightbox .fa,
#mpcth_page_wrap #mpcth_main .mpcth-page .flexslider#main_slider .mpcth-lightbox .fa,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_toggle .mpcth-toggle-mark,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .vc-carousel .vc-carousel-control.vc-left,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .vc-carousel .vc-carousel-control.vc-right,
#mpcth_page_wrap #mpcth_main .mpcth-items-slider-wrap .mpcth-items-slider-prev,
#mpcth_page_wrap #mpcth_main .mpcth-items-slider-wrap .mpcth-items-slider-next,
.woocommerce-page #mpcth_page_wrap .orderby,
.woocommerce-page #mpcth_page_wrap .variations .value select,
.woocommerce-page #mpcth_page_wrap .country_to_state,
.woocommerce-page #mpcth_page_wrap .input-text,
#mpcth_page_wrap #mpcth_comments #respond #mpcth_comment_form input[type=text],
#mpcth_page_wrap #mpcth_comments #respond #mpcth_comment_form textarea,
#mpcth_page_wrap .wpcf7 .contact-form-message textarea,
#mpcth_page_wrap .wpcf7 .contact-form-input input,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs #review_form_wrapper #author,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs #review_form_wrapper #email,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs #review_form_wrapper #comment,
#mpcth_page_wrap .widget .product_list_widget li,
#mpcth_page_wrap #mpcth_footer .mpc-vc-icon-column-wrap .mpc-vc-icon-column-content,
#mpcth_page_wrap #mpcth_main .mpc-vc-icon-column-wrap .mpc-vc-icon-column-content,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_call_to_action .wpb_call_text,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_posts_slider .flex-caption,
#mpcth_page_wrap #mpcth_main .mpcth-items-slider .mpcth-slide,
#mpcth_page_wrap #mpcth_main .mpcth-items-slider.mpc-vc-blog-posts-slider .mpcth-slide .mpcth-slide-trim,
.woocommerce-page #mpcth_page_wrap .woocommerce-ordering .mpcthSelect,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .summary .variations_form .variations .value .mpcthSelect,
#mpcth_page_wrap .woocommerce .products .product .mpcth-post-content,
.woocommerce #mpcth_page_wrap .products .product .mpcth-post-content,
#mpcth_page_wrap .woocommerce .products .product .mpcth-post-content .added_to_cart,
#mpcth_page_wrap .woocommerce .products .product .mpcth-post-content .product_type_variable,
#mpcth_page_wrap .woocommerce .products .product .mpcth-post-content .add_to_cart_button,
.woocommerce #mpcth_page_wrap .products .product .mpcth-post-content .added_to_cart,
.woocommerce #mpcth_page_wrap .products .product .mpcth-post-content .product_type_variable,
.woocommerce #mpcth_page_wrap .products .product .mpcth-post-content .add_to_cart_button,
.woocommerce-checkout #mpcth_page_wrap #mpcth_content #payment .payment_box,
#mpcth_page_wrap .woocommerce .chosen-drop,
#mpcth_page_wrap .woocommerce .chosen-single,
.woocommerce #mpcth_page_wrap .chosen-drop,
.woocommerce #mpcth_page_wrap .chosen-single,
#mpcth_page_wrap .woocommerce .chosen-with-drop .chosen-single,
.woocommerce #mpcth_page_wrap .chosen-with-drop .chosen-single,
#mpcth_page_wrap .woocommerce .products .product .mpcth-post-content .product_type_variable:hover,
#mpcth_page_wrap .woocommerce .products .product .mpcth-post-content .add_to_cart_button:hover,
.woocommerce #mpcth_page_wrap .products .product .mpcth-post-content .product_type_variable:hover,
.woocommerce #mpcth_page_wrap .products .product .mpcth-post-content .add_to_cart_button:hover,
#mpcth_page_wrap .woocommerce .mpcth-shop-style-center .products .product .mpcth-post-content .mpcth-post-content-wrap,
#mpcth_page_wrap .woocommerce .mpcth-shop-style-slim .products .product .mpcth-post-content .mpcth-post-content-wrap,
.woocommerce #mpcth_page_wrap .mpcth-shop-style-center .products .product .mpcth-post-content .mpcth-post-content-wrap,
.woocommerce #mpcth_page_wrap .mpcth-shop-style-slim .products .product .mpcth-post-content .mpcth-post-content-wrap {
	background-color: #f7f7f7;
}

/* ---------------------------------------------------------------- */
/* #EEEEEE
/* ---------------------------------------------------------------- */

/* BORDER TOP */
body #mpcth_page_wrap .vc_separator .vc_sep_holder .vc_sep_line,
#mpcth_page_wrap #mpcth_mini_cart:before,
#mpcth_page_wrap #mpcth_footer,
#mpcth_page_wrap #mpcth_footer_copyrights_wrap,
#mpcth_page_wrap #mpcth_page_header_secondary_content.mpcth-header-position-bottom,
#mpcth_page_wrap .mpcth-menu .children:before,
#mpcth_page_wrap .mpcth-menu .sub-menu:before,
#mpcth_page_wrap #mpcth_menu .children:before,
#mpcth_page_wrap #mpcth_menu .sub-menu:before,
#mpcth_page_wrap #mpcth_mega_menu .widget .sub-container > .sub-menu:before,
#mpcth_page_wrap #mpcth_comments,
#mpcth_page_wrap #mpcth_comments #respond #mpcth_comment_form,
#mpcth_page_wrap .widget.widget_shopping_cart .total,
#mpcth_page_wrap #mpcth_footer .mpc-vc-icon-column-wrap .mpc-vc-icon-column-icon .mpc-vc-icon-column-arrow.mpc-vc-icon-column-arrow-bottom,
#mpcth_page_wrap #mpcth_main .mpc-vc-icon-column-wrap .mpc-vc-icon-column-icon .mpc-vc-icon-column-arrow.mpc-vc-icon-column-arrow-bottom,
.woocommerce-cart #mpcth_page_wrap .mpcth-page-content > .woocommerce > form .shop_table_wrap .shop_table tbody td,
.woocommerce-cart #mpcth_page_wrap .mpcth-page-content > .woocommerce > form .cart-sidebar .cart_totals .order-total th,
.woocommerce-cart #mpcth_page_wrap .mpcth-page-content > .woocommerce > form .cart-sidebar .cart_totals .order-total td,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs .shop_attributes,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs .shop_attributes tr.alt,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs #review_form_wrapper #commentform,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .product_meta,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .product_share,
.woocommerce-checkout #mpcth_page_wrap #mpcth_content ul.order_details,
.woocommerce-wishlist #mpcth_page_wrap #mpcth_content .shop_table tbody td,
#mpcth_page_wrap .woocommerce .shop_table tbody td,
.woocommerce #mpcth_page_wrap .shop_table tbody td,
#mpcth_page_wrap .woocommerce .shop_table tfoot th,
#mpcth_page_wrap .woocommerce .shop_table tfoot td,
.woocommerce #mpcth_page_wrap .shop_table tfoot th,
.woocommerce #mpcth_page_wrap .shop_table tfoot td,
#mpcth_page_wrap .woocommerce .mpcth-shop-style-center .products .product .mpcth-post-content .mpcth-cart-wrap,
#mpcth_page_wrap .woocommerce .mpcth-shop-style-slim .products .product .mpcth-post-content .mpcth-cart-wrap,
.woocommerce #mpcth_page_wrap .mpcth-shop-style-center .products .product .mpcth-post-content .mpcth-cart-wrap,
.woocommerce #mpcth_page_wrap .mpcth-shop-style-slim .products .product .mpcth-post-content .mpcth-cart-wrap {
	border-top-color: #dddddd;
}

/* BORDER RIGHT */
.mpcth-sidebar-left #mpcth_page_wrap #mpcth_sidebar,
.mpcth-sidebar-right #mpcth_page_wrap #mpcth_sidebar .mpcth-sidebar-arrow:before,
.mpcth-sidebar-right #mpcth_page_wrap #mpcth_content_wrap,
.single-mpc_portfolio #mpcth_page_wrap .mpcth-post .mpcth-post-content .mpcth-post-meta .mpcth-categories,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_tour .wpb_tabs_nav,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs #review_form_wrapper .stars a {
	border-right-color: #dddddd;
}

/* BORDER BOTTOM */
#mpcth_page_wrap #mpcth_nav_mobile .mpcth-mobile-menu .page_item.page_item_has_children > a,
#mpcth_page_wrap #mpcth_nav_mobile .mpcth-mobile-menu .page_item.menu-item-has-children > a,
#mpcth_page_wrap #mpcth_nav_mobile .mpcth-mobile-menu .menu-item.page_item_has_children > a,
#mpcth_page_wrap #mpcth_nav_mobile .mpcth-mobile-menu .menu-item.menu-item-has-children > a,
#mpcth_page_wrap #mpcth_nav_mobile #mpcth_mobile_menu .page_item.page_item_has_children > a,
#mpcth_page_wrap #mpcth_nav_mobile #mpcth_mobile_menu .page_item.menu-item-has-children > a,
#mpcth_page_wrap #mpcth_nav_mobile #mpcth_mobile_menu .menu-item.page_item_has_children > a,
#mpcth_page_wrap #mpcth_nav_mobile #mpcth_mobile_menu .menu-item.menu-item-has-children > a,
#mpcth_page_wrap #mpcth_toggle_mobile_extended_footer,
#mpcth_page_wrap #mpcth_toggle_mobile_footer,
#mpcth_page_wrap .mpcth-deco-header,
#mpcth_page_wrap #mpcth_page_header_wrap,
#mpcth_page_wrap #mpcth_page_header_secondary_content,
#mpcth_page_wrap #mpcth_mini_cart .mpcth-mini-cart-products,
.page-template-template-lookbook-php #mpcth_page_wrap .mpcth-page .mpcth-page-header .mpcth-page-title,
.page-template-template-fullwidth-php #mpcth_page_wrap .mpcth-page .mpcth-page-header .mpcth-page-title,
.page-template-default #mpcth_page_wrap .mpcth-page .mpcth-page-header .mpcth-page-title,
.blog #mpcth_page_wrap #mpcth_content .mpcth-post,
.page-template-template-blog-php #mpcth_page_wrap #mpcth_content .mpcth-post,
.blog #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-title,
.page-template-template-blog-php #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-title,
.search.search-results #mpcth_page_wrap #mpcth_content .mpcth-post,
.archive.tax-mpc_portfolio_cat #mpcth_page_wrap #mpcth_content .mpcth-post,
.archive.author #mpcth_page_wrap #mpcth_content .mpcth-post,
.archive.date #mpcth_page_wrap #mpcth_content .mpcth-post,
.archive.tag #mpcth_page_wrap #mpcth_content .mpcth-post,
.archive.category #mpcth_page_wrap #mpcth_content .mpcth-post,
.search.search-results #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-title,
.archive.tax-mpc_portfolio_cat #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-title,
.archive.author #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-title,
.archive.date #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-title,
.archive.tag #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-title,
.archive.category #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-title,
.single-post #mpcth_page_wrap .mpcth-post .mpcth-post-header .mpcth-post-title,
.single-mpc_portfolio #mpcth_page_wrap .mpcth-post .mpcth-post-header .mpcth-post-title,
#mpcth_page_wrap #mpcth_mega_menu .widget .mega-hdr-a,
#mpcth_page_wrap #mpcth_comments #mpcth_comments_wrap .mpcth-comments-title,
#mpcth_page_wrap .widget .widget-title,
#mpcth_page_wrap #mpcth_footer .mpc-vc-deco-header,
#mpcth_page_wrap #mpcth_main .mpc-vc-deco-header,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_accordion_header,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_toggle,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_tabs .wpb_tabs_nav,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_tour .wpb_tabs_nav > li,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs .tabs li a,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .summary .mpcth-post-title,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs .tabs:before,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs .shop_attributes,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs .shop_attributes tr.alt,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content .upsells.products > h4,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content .related.products > h4,
.woocommerce-checkout #mpcth_page_wrap #mpcth_content ul.order_details {
	border-bottom-color: #dddddd;
}

/* BORDER LEFT */
#mpcth_page_wrap #mpcth_page_header_secondary_content #mpcth_secondary_mini_menu:before,
#mpcth_page_wrap #mpcth_page_header_secondary_content #mpcth_secondary_menu:before,
.mpcth-sidebar-left #mpcth_page_wrap #mpcth_sidebar .mpcth-sidebar-arrow:before,
.mpcth-sidebar-left #mpcth_page_wrap #mpcth_content_wrap,
.mpcth-sidebar-right #mpcth_page_wrap #mpcth_sidebar,
.blog #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-comments,
.page-template-template-blog-php #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-comments,
.search.search-results #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-comments,
.archive.tax-mpc_portfolio_cat #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-comments,
.archive.author #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-comments,
.archive.date #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-comments,
.archive.tag #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-comments,
.archive.category #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-comments,
.single-post #mpcth_page_wrap .mpcth-post .mpcth-post-content .mpcth-post-meta .mpcth-comments,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_tour .wpb_tab,
#mpcth_page_wrap .woocommerce .products .product .mpcth-post-content .mpcth-cart-wrap,
.woocommerce #mpcth_page_wrap .products .product .mpcth-post-content .mpcth-cart-wrap {
	border-left-color: #dddddd;
}

/* BORDER */
#mpcth_page_header_secondary_content #mpcth_secondary_mini_menu ul,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .vc_separator.vc_sep_color_grey .vc_sep_line,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .vc_separator.vc_sep_color_grey > h4,
#mpcth_page_wrap #mpcth_page_header_secondary_content #lang_sel ul ul,
#mpcth_page_wrap #mpcth_mini_cart,
#mpcth_page_wrap #mpcth_mini_cart .mpcth-mini-cart-products .mpcth-mini-cart-thumbnail img,
#mpcth_page_wrap .mpc-vc-portfolio-posts-slider .mpcth-post .mpcth-post-header .mpcth-post-thumbnail,
.page-template-template-portfolio-php #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-header .mpcth-post-thumbnail,
#mpcth_page_wrap .format-gallery .mpcth-post-thumbnail #main_thumbs .flex-viewport li,
#mpcth_page_wrap .mpcth-menu .children,
#mpcth_page_wrap .mpcth-menu .sub-menu,
#mpcth_page_wrap #mpcth_menu .children,
#mpcth_page_wrap #mpcth_menu .sub-menu,
#mpcth_page_wrap #mpcth_mega_menu .widget .sub-container > .sub-menu,
.single #mpcth_page_wrap .mpcth-post .mpcth-post-pagination a,
#mpcth_page_wrap #mpcth_comments #mpcth_comments_wrap .mpcth-comment-header .avatar,
#mpcth_page_wrap #mpcth_comments #respond #mpcth_comment_form textarea,
#mpcth_page_wrap #mpcth_comments #respond #mpcth_comment_form input[type=text],
#mpcth_page_wrap .wpcf7 .contact-form-input input,
#mpcth_page_wrap .wpcf7 .contact-form-message textarea,
#mpcth_page_wrap .widget input,
#mpcth_page_wrap .widget select,
#mpcth_page_wrap .widget textarea,
#mpcth_page_wrap .widget .product_list_widget li,
#mpcth_page_wrap #mpcth_main .mpcth-post .flexslider .flex-direction-nav a,
#mpcth_page_wrap #mpcth_main .mpcth-page .flexslider .flex-direction-nav a,
#mpcth_page_wrap #mpcth_main .mpcth-post .flexslider#main_slider .mpcth-lightbox .fa,
#mpcth_page_wrap #mpcth_main .mpcth-page .flexslider#main_slider .mpcth-lightbox .fa,
#mpcth_page_wrap #mpcth_footer .mpc-vc-icon-column-wrap .mpc-vc-icon-column-content,
#mpcth_page_wrap #mpcth_main .mpc-vc-icon-column-wrap .mpc-vc-icon-column-content,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .vc_text_separator > div,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_toggle .mpcth-toggle-mark,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_call_to_action .wpb_call_text,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .vc-carousel .vc-carousel-control.vc-left,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .vc-carousel .vc-carousel-control.vc-right,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .vc-carousel.vc-per-view-more .vc-carousel-slideline .vc-carousel-slideline-inner > .vc-item > .vc-inner,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_teaser_grid .wpb_thumbnails li,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_posts_slider .flex-caption,
#mpcth_page_wrap #mpcth_main .mpcth-items-slider-wrap .mpcth-items-slider-prev,
#mpcth_page_wrap #mpcth_main .mpcth-items-slider-wrap .mpcth-items-slider-next,
#mpcth_page_wrap #mpcth_main .mpcth-items-slider .mpcth-slide,
.woocommerce-page #mpcth_page_wrap .woocommerce-info,
.woocommerce-page #mpcth_page_wrap .woocommerce-error,
.woocommerce-page #mpcth_page_wrap .woocommerce-message,
.woocommerce-page #mpcth_page_wrap .orderby,
.woocommerce-page #mpcth_page_wrap .variations .value select,
.woocommerce-page #mpcth_page_wrap .country_to_state,
.woocommerce-page #mpcth_page_wrap .input-text,
.woocommerce-page #mpcth_page_wrap .woocommerce-ordering .mpcthSelect,
.woocommerce-page.single-product #mpcth_page_wrap .cart .quantity .qty,
.woocommerce-cart #mpcth_page_wrap .cart .quantity .qty,
.woocommerce-cart #mpcth_page_wrap .mpcth-page-content > .woocommerce > form .shop_table_wrap .shop_table .product-thumbnail img,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .images img,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .summary .variations_form .variations .value .mpcthSelect,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs #comments .commentlist .avatar,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs #review_form_wrapper #author,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs #review_form_wrapper #email,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs #review_form_wrapper #comment,
#mpcth_page_wrap .woocommerce .products .product .mpcth-product-wrap,
.woocommerce #mpcth_page_wrap .products .product .mpcth-product-wrap,
.woocommerce-checkout #mpcth_page_wrap #mpcth_content #payment,
.woocommerce-checkout #mpcth_page_wrap #mpcth_content #payment .payment_box,
#mpcth_page_wrap .woocommerce .chosen-drop,
#mpcth_page_wrap .woocommerce .chosen-single,
.woocommerce #mpcth_page_wrap .chosen-drop,
.woocommerce #mpcth_page_wrap .chosen-single,
#mpcth_page_wrap .woocommerce .chosen-search input,
.woocommerce #mpcth_page_wrap .chosen-search input,
#mpcth_page_wrap .woocommerce .chosen-with-drop .chosen-single,
.woocommerce #mpcth_page_wrap .chosen-with-drop .chosen-single,
.woocommerce-wishlist #mpcth_page_wrap #mpcth_content .shop_table .product-thumbnail img,
#mpcth_page_wrap .woocommerce .mpcth-shop-style-center .products .product .mpcth-post-content .mpcth-post-content-wrap,
#mpcth_page_wrap .woocommerce .mpcth-shop-style-slim .products .product .mpcth-post-content .mpcth-post-content-wrap,
.woocommerce #mpcth_page_wrap .mpcth-shop-style-center .products .product .mpcth-post-content .mpcth-post-content-wrap,
.woocommerce #mpcth_page_wrap .mpcth-shop-style-slim .products .product .mpcth-post-content .mpcth-post-content-wrap {
	border-color: #dddddd;
}

/* BORDER BOTTOM ! */
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_call_to_action.cta_align_bottom .wpb_button_a:hover .mpcth-cta-arrow {
	border-bottom-color: #dddddd !important;
}

/* BORDER RIGHT ! */
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_call_to_action.cta_align_right .wpb_button_a:hover .mpcth-cta-arrow {
	border-right-color: #dddddd !important;
}

/* BORDER LEFT ! */
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_call_to_action.cta_align_left .wpb_button_a:hover .mpcth-cta-arrow {
	border-left-color: #dddddd !important;
}

/* BORDER ! */
#mpcth_page_wrap #mpcth_main .flexslider .flex-direction-nav a,
#mpcth_page_wrap .format-status .mpcth-post-thumbnail .twitter-tweet {
	border-color: #dddddd !important;
}

/* BACKGROUND */
#mpcth_page_wrap #mpcth_mini_cart .button,
#mpcth_page_wrap #mpcth_footer_extended_content:after,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_separator,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .vc_text_separator,
.woocommerce-page #mpcth_page_wrap .woocommerce.widget.widget_price_filter .ui-slider {
	background-color: #e9e9e9;
}

/* BACKGROUND ! */
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_call_to_action .wpb_button_a:hover,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .wpb_button:hover,
.woocommerce-cart #mpcth_page_wrap .cart .single_add_to_cart_button,
.woocommerce-page #mpcth_page_wrap .woocommerce.widget.widget_layered_nav .chosen a:hover,
.woocommerce-page #mpcth_page_wrap .woocommerce.widget.widget_layered_nav_filters .chosen a:hover {
	background-color: #e9e9e9 !important;
}

/* ---------------------------------------------------------------- */
/* #F3F3F3
/* ---------------------------------------------------------------- */

/* BACKGROUND */
.woocommerce #mpcth_page_wrap .summary .yith-wcwl-add-to-wishlist a,
#mpcth_page_wrap .s2_form_widget form input[type=submit],
#mpcth_smart_search_wrap #searchsubmit,
#mpcth_page_wrap #mpcth_page_header_content #mpcth_controls_wrap #mpcth_controls_container > a,
#mpcth_page_wrap #mpcth_mini_cart .button.alt:hover,
.blog #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-read-more,
.page-template-template-blog-php #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-read-more,
#mpcth_page_wrap .mpc-vc-portfolio-posts-slider .mpcth-post .mpcth-post-content,
.page-template-template-portfolio-php #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-content,
.search.search-results #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-read-more,
.archive.tax-mpc_portfolio_cat #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-read-more,
.archive.author #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-read-more,
.archive.date #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-read-more,
.archive.tag #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-read-more,
.archive.category #mpcth_page_wrap #mpcth_content .mpcth-post .mpcth-post-footer .mpcth-read-more,
#mpcth_page_wrap .format-chat .mpcth-post-thumbnail .mpcth-chat-message .mpcth-chat-message-text,
.single #mpcth_page_wrap .mpcth-post .mpcth-post-pagination a:hover,
#mpcth_page_wrap #mpcth_comments #respond #mpcth_comment_form input[type=submit],
#mpcth_page_wrap .wpcf7 .form-submit .wpcf7-submit,
#mpcth_page_wrap .widget.widget_calendar tbody a:before,
#mpcth_page_wrap #mpcth_main .flexslider .flex-direction-nav a:hover,
#mpcth_page_wrap #mpcth_main .mpcth-post .flexslider .flex-direction-nav a:hover,
#mpcth_page_wrap #mpcth_main .mpcth-page .flexslider .flex-direction-nav a:hover,
#mpcth_page_wrap #mpcth_main .mpcth-post .flexslider#main_slider .mpcth-lightbox .fa:hover,
#mpcth_page_wrap #mpcth_main .mpcth-page .flexslider#main_slider .mpcth-lightbox .fa:hover,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .vc-carousel .vc-carousel-control.vc-left:hover,
#mpcth_page_wrap #mpcth_main #mpcth_content_wrap .vc-carousel .vc-carousel-control.vc-right:hover,
#mpcth_page_wrap #mpcth_main .mpcth-items-slider-wrap .mpcth-items-slider-prev:hover,
#mpcth_page_wrap #mpcth_main .mpcth-items-slider-wrap .mpcth-items-slider-next:hover,
#mpcth_page_wrap #mpcth_smart_search_wrap #searchsubmit:hover,
#mpcth_page_wrap #searchsubmit,
#mpcth_page_wrap #searchform #review_form_wrapper #submit,
#mpcth_page_wrap #searchform button.button,
#mpcth_page_wrap #searchform input.button,
#mpcth_page_wrap #searchform a.button,
#mpcth_page_wrap .woocommerce #searchsubmit,
#mpcth_page_wrap .woocommerce #review_form_wrapper #submit,
#mpcth_page_wrap .woocommerce button.button,
#mpcth_page_wrap .woocommerce input.button,
#mpcth_page_wrap .woocommerce a.button,
.woocommerce #mpcth_page_wrap #searchsubmit,
.woocommerce #mpcth_page_wrap #review_form_wrapper #submit,
.woocommerce #mpcth_page_wrap button.button,
.woocommerce #mpcth_page_wrap input.button,
.woocommerce #mpcth_page_wrap a.button,
.woocommerce-page.single-product #mpcth_page_wrap .cart .quantity .plus-wrap,
.woocommerce-page.single-product #mpcth_page_wrap .cart .quantity .minus-wrap,
.woocommerce-cart #mpcth_page_wrap .cart .quantity .plus-wrap,
.woocommerce-cart #mpcth_page_wrap .cart .quantity .minus-wrap,
.woocommerce-checkout #mpcth_page_wrap #mpcth_content #payment,
.woocommerce-page #mpcth_page_wrap .woocommerce.widget.widget_price_filter .button {
	background-color: #eeeeee;
}

/* BACKGROUND ! */
#mpcth_page_wrap .woocommerce #searchsubmit.alt:hover,
#mpcth_page_wrap .woocommerce #review_form_wrapper #submit.alt:hover,
#mpcth_page_wrap .woocommerce button.button.alt:hover,
#mpcth_page_wrap .woocommerce input.button.alt:hover,
#mpcth_page_wrap .woocommerce a.button.alt:hover,
.woocommerce #mpcth_page_wrap #searchsubmit.alt:hover,
.woocommerce #mpcth_page_wrap #review_form_wrapper #submit.alt:hover,
.woocommerce #mpcth_page_wrap button.button.alt:hover,
.woocommerce #mpcth_page_wrap input.button.alt:hover,
.woocommerce #mpcth_page_wrap a.button.alt:hover {
	background-color: #eeeeee !important;
}

/* ---------------------------------------------------------------- */
/* #F5F5F5
/* ---------------------------------------------------------------- */

/* BACKGROUND */
#mpcth_page_wrap #mpcth_smart_search_wrap,
#mpcth_page_wrap #mpcth_smart_search_wrap select,
#mpcth_page_wrap #mpcth_smart_search_wrap input[type=text],
#mpcth_page_wrap #mpcth_smart_search_wrap .mpcthSelect,
#mpcth_page_wrap #mpcth_footer .mpc-vc-icon-column-wrap .mpc-vc-icon-column-icon,
#mpcth_page_wrap #mpcth_main .mpc-vc-icon-column-wrap .mpc-vc-icon-column-icon,
.woocommerce-page.single-product #mpcth_page_wrap #mpcth_content > .product .woocommerce-tabs .shop_attributes tr.alt {
	background-color: #eeeeee;
}

/* BORDER TOP */
#mpcth_page_wrap #mpcth_footer .mpc-vc-icon-column-wrap .mpc-vc-icon-column-icon .mpc-vc-icon-column-arrow,
#mpcth_page_wrap #mpcth_main .mpc-vc-icon-column-wrap .mpc-vc-icon-column-icon .mpc-vc-icon-column-arrow {
	border-top-color: #eeeeee;
}

/* ---------------------------------------------------------------- */
/* #F9F9F9
/* ---------------------------------------------------------------- */

/* BACKGROUND */
.woocommerce-page #mpcth_page_wrap .woocommerce-info,
.woocommerce-page #mpcth_page_wrap .woocommerce-error,
.woocommerce-page #mpcth_page_wrap .woocommerce-message {
	background-color: #eeeeee;
}

/* ---------------------------------------------------------------- */
/* PRE
/* ---------------------------------------------------------------- */

#mpcth_page_wrap pre,
#mpcth_page_wrap code {
	background-color: #eeeeee;
	border-color: #dddddd;
	background-image: linear-gradient(bottom, #eeeeee 50%, #f3f3f3 50%);
	background-image: -o-linear-gradient(bottom, #eeeeee 50%, #f3f3f3 50%);
	background-image: -moz-linear-gradient(bottom, #eeeeee 50%, #f3f3f3 50%);
	background-image: -webkit-linear-gradient(bottom, #eeeeee 50%, #f3f3f3 50%);
	background-image: -ms-linear-gradient(bottom, #eeeeee 50%, #f3f3f3 50%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #eeeeee), color-stop(0.5, #f3f3f3));
}

/* ---------------------------------------------------------------- */
/* WISHLIST POPUP
/* ---------------------------------------------------------------- */

#yith-wcwl-popup-message {
	background-color: #e9e9e9;
	border-color: #d0d0d0;
}